{% set title = 'No contact details found - Find out why your NHS data matters' %}
{% set content_title = 'No contact details found' %}
{% set PROTOTYPE_URL = 'B' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Find out why your NHS data matters
    </div>
  </div>

  <div class="page-section">

          <div class="grid-row">
            <div class="column--two-thirds">
              <div class="reading-width">
              <h1 class="h2">{{content_title}}</h1>
              <p>
                Thanks, we've found your details, but we could not find a mobile number or email address.
              </p>
              <p>
                This may be because you have not registered these details with your GP Practice, or your GP Practice has not yet shared them with us.
              </p>
              <p>
                You can try again when your information is updated, or you can choose to use the non-digital service instead.
              </p>
              <p>Please see <a href="/{{PROTOTYPE_URL}}/00-other-ways-to-manage-your-choice">other ways to manage your choice</a>.</p>
            </div>
          </div>
            </div>
          </div>
  </div>

</main>
{% endblock %}
