{% set title = 'Privacy notice - Find out about my data choice' %}
{% set content_title = "Privacy notice" %}
{% set PROTOTYPE_URL = 'NEXT-alt-2' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/choices.html' %}

{% block body %}
<div class="breadcrumb" aria-label="breadcrumb">
  <ol>
    <li><a href="#">Home</a></li>
    <li><a href="/{{PROTOTYPE_URL}}/01-overview">Find out about my data choice</a></li>
    <li class="breadcrumb__last">{{content_title}}</li>
  </ol>
</div>

<main id="content" role="main">
  <div class="page-section">
      <div class="reading-width">
          <div class="grid-row">
            <div class="column--two-thirds">
              <h1 class="page-title__NHSUK">{{content_title}} <small>Find out about my data choice</small></h1>
              <h2 class="h3">March 2018</h2>
              <p>
                The 'Find out about my data choice' service allows you to register a national data opt-out, which will prevent your identifiable health and care information from being used for purposes beyond your individual care and treatment. For example, your data will no longer be used for research and planning purposes.  NHS Digital provides this service on behalf of health and care.
              </p>
              <p>
                This page specifically sets-out what we collect and how we use your personal data to provide this service, including your rights and how to contact us. This forms part of a range of materials, with links to further information on the national data opt-out found below.
              </p>
              <h3 class="h4">National Data Opt-Out</h3>
              <p>
                For information about the national data opt-out, how it works and manage your choice, please visit the <a href="/{{PROTOTYPE_URL}}/01-overview">'Find out about my data choice'</a> page.
              </p>
              <h3 class="h4">Policy and Exemptions</h3>
              <p>
                For detailed policy guidance, exemptions and information on the phased implementation of the national data opt-out across health and care, <a target="_blank" href="https://digital.nhs.uk/national-data-opt-out">visit NHS Digital <span class='util-visuallyhidden'> - Page opens in new window</span></a> <span aria-hidden="true"> (opens in new window)</span>.
              </p>
              <h2 class="h3">What information do we collect about you?</h2>
              <p>
                When you use the "Find out about my data choice" service to opt out of sharing your data for research and planning, we collect the following information:
              </p>
              <ul>
                <li>
                  To manage your national data opt-out choice we will need to verify your identity - we will match this to information we already hold on our system.
                  <ul>
                    <li>
                      Online we ask for your name, date of birth and NHS number.
                    </li>
                    <li>
                      Through the paper system you will be asked to provide copies of identification documents. Once matched, the documents will be scanned and stored on a secure SharePoint site, with the paper documents securely destroyed. If originals are sent, these will be returned to you.
                    </li>
                  </ul>
                </li>
                <li>
                  Your NHS number is retained, stored and used to uphold an opt-out. This is the minimum information that we need to provide this service.
                </li>
                <li>
                  We record and store audit data for each transaction including:
                  <ul>
                    <li>
                      the date and time the transaction occurred
                    </li>
                    <li>
                      whether the transaction was via the online service or telephone helpline
                    </li>
                    <li>
                      if a choice was set by an individual for themselves or for another person, for example a parent for their child
                    </li>
                  </ul>
                </li>
                <li>
                  Your internet protocol (IP) address - a unique identifier for your computer or other access device - is stored to help us monitor and protect the service from malicious use.
                </li>
              </ul>
              <p>
                We also collect and retain some management information about the performance of the service itself, including:
              </p>
              <ul>
                <li>
                  transaction completion rates
                </li>
                <li>
                  if the transaction fails
                </li>
                <li>
                  where failure occurs and why (for example, unable to verify identity)
                </li>
                <li>
                  time taken to process
                </li>
                <li>
                  system availability
                </li>
              </ul>
              <p>
                This information does not identify you personally and is used to monitor and improve the service provided.
              </p>
              <p>
                You may be invited to provide feedback on the service. You can decide if you want to participate, this does not identify you personally and is only used to improve the service provided.
              </p>
              <h2 class="h3">Where your data is stored</h2>
              <p>
                We store your data on secure cloud servers in the <a target="_blank" href="https://www.gov.uk/eu-eea">European Economic Area (EEA) <span class='util-visuallyhidden'> - Page opens in new window</span></a> <span aria-hidden="true"> (opens in new window)</span>.
              </p>
              <h2 class="h3">What is our legal basis for processing this data?</h2>
              <p>
                NHS Digital has been instructed by the Department of Health and Social Care, through <a target="_blank" href="https://digital.nhs.uk/article/8860/National-data-opt-out-Direction-2017-">a document called a Direction <span class='util-visuallyhidden'> - Page opens in new window</span></a>, to provide this service. A Direction is a legally binding document. This means that NHS Digital is processing your personal data to meet our legal obligation to provide this service. You can choose whether you want to use this service and can change your mind at any time.
              </p>
              <h2 class="h3">How long will we keep this information?</h2>
              <p>
                In most cases once set an opt-out is not time limited and does not change unless you take action to withdraw it.
              </p>
              <p>
                We will continue to hold your NHS number and associated audit data in our data store until you remove your opt-out. If you decide to do this, we will remove your NHS number from our secure data store. We will retain the audit information to enable us to monitor and report on the use of the service. Scanned identity documents are retained on a secure SharePoint site.
              </p>
              <p>
                We will continue to run this service until instructed to stop by the Department of Health and Social Care.
              </p>
              <h2 class="h3">How you can access your data?</h2>
              <p>
                You can check and amend your opt-out choice at any time. This can be done through <a href="/{{PROTOTYPE_URL}}/01-overview">the online service</a> or by calling the telephone helpline on 0300 303 5678 (Open: 9am to 5pm Monday to Friday - excluding bank holidays). You will need to verify your identity every time you want to access or change your opt-out choice.
              </p>
              <p>
                As we only use your NHS number to record and uphold your opt-out, you are advised to check that your national data opt-out is still recorded in the event that you are assigned a different NHS number.
              </p>
              <h2 class="h3">Who do we share your data with?</h2>
              <p>
                If you have decided to opt out, this will be respected by NHS Digital from May 2018.  It will be respected by all other organisations that use health and social care information by March 2020.
              </p>
              <p>
                NHS Digital uses an IT system to apply opt-outs to data before it is released to those organisations, outside of NHS Digital, approved to receive this data for the purpose of improving health and social care. This system automatically matches data that has been prepared to be released against the NHS numbers held in the opt-out secure data store.
              </p>
              <p>
                Where a match is confirmed, all data relating to that NHS number (including the NHS number itself) is removed before the data is sent out. NHS Digital will implement your opt-out as soon as we can after we have received it but it can take up to 21 days for your opt-out to take effect in all releases of data.
              </p>
              <p>
                In order for your opt-out to be applied we may need to share your NHS number with other health and care organisations. The approach is not yet finalised and we will update these pages with further information on how this will be done before we start to share your data. Your opt-out choice will only be shared with health and care organisations so that they can respect your opt-out.
              </p>
              <h2 class="h3">How to contact us</h2>
              <p>
                Please contact us if you have any questions about the information provided above or about the data we hold on you:
              </p>
              <ul class="link-list">
                <li>
                  By phone:	0300 303 5678
                </li>
                <li>
                  By email:	<a href="mailto:enquiries@nhsdigital.nhs.uk">enquiries@nhsdigital.nhs.uk</a>
                </li>
                <li>
                  By post:	NHS Digital, 1 Trevelyan Square, Boar Lane, Leeds LS1 6AE
                </li>
              </ul>
              <p>
                Please use the same details if you want to contact our data protection officer.
              </p>
              <h2 class="h3">What to do if you wish to lodge a complaint?</h2>
              <p>
                If you wish to lodge a complaint with the supervisory authority about how we are using or managing your data then the relevant body to contact is the Information Commissioner's Office, Wycliffe House Water Lane, Wilmslow SK9 5AF
                <a target="_blank" href="https://ico.org.uk/"> www.ico.org.uk <span class='util-visuallyhidden'> - Page opens in new window</span></a> <span aria-hidden="true"> (opens in new window)</span>
              </p>
            </div>
          </div>
        </div>
      </div>

  </div>

</main>
{% endblock %}
