{% set title = 'Unable to save your choice - Find out why your NHS data matters' %}
{% set content_title = 'Unable to save your choice' %}
{% set PROTOTYPE_URL = 'A' %}
{% block scripts %}
<script src="/javascripts/{{PROTOTYPE_URL}}/07X.js"></script>
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Find out why your NHS data matters
    </div>
  </div>

  <div class="page-section">

          <div class="grid-row">
            <div class="column--two-thirds">
              <div class="reading-width">
              <h1 class="h2">{{content_title}}</h1>
              <p>
                Sorry, we were unable to save your choice.
              </p>
              <p>
                This was due to an error on our behalf. Your choice has not been updated.
              </p>
              <p>Please try again later.</p>
              <p>
                <a class="button" href="/{{PROTOTYPE_URL}}/app/index">Return to the start page</a>
              </p>
              <h2 class="h3">Other ways to manage your choice</h2>
              <p>You can also choose use the non-digital service instead. Please see <a href="/{{PROTOTYPE_URL}}/00-other-ways-to-manage-your-choice">other ways to manage your choice</a>.</p>
            </div>
            </div>
          </div>
  </div>
</main>
{% endblock %}
