{% set title = 'Review your preference' %}
{% set PROTOTYPE_URL = 'M1' %}
{% block scripts %}
<script src="/javascripts/{{PROTOTYPE_URL}}/06-confirm-your-choice.js"></script>
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Register your preference for sharing health data
    </div>
  </div>

  <div class="page-section">
      <div class="reading-width">
        <h1 class="page-title stepper">{{title}} <small>Step 5 of 5</small></h1>

          <div class="grid-row">
            <div class="column--two-thirds">

              <h2 id="your-preference" class="h3">Your preference</h2>

               <p class="confirmation-type" id="email-confirm" hidden="">We will send confirmation of your choice to al•••••••••••@gmail.com</p>

               <p class="confirmation-type" id="mobile-confirm" hidden="">We will send confirmation of your choice to ••••••••788</p>

               <p class="confirmation-type" id="post-confirm" hidden="">We will post you confirmation of your choice</p>

               <a href="/{{PROTOTYPE_URL}}/app/07-thank-you" class="button">Confirm</a>
            </div>
          </div>
      </div>
  </div>

</main>
{% endblock %}
