{% set title = 'Survey' %}
{% set PROTOTYPE_URL = 'M1' %}
{% block scripts %}
<script src="/javascripts/{{PROTOTYPE_URL}}/08-survey.js"></script>
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Register your preference for sharing health data
    </div>
  </div>

  <div class="page-section">
      <div class="reading-width">
        <h1 class="page-title">{{title}}</h1>
          <div class="grid-row">
            <div class="column--two-thirds">
              <div class="error error-summary callout callout--error error-message" role="alert" tabindex="-1">
                <h2 id="error-summary" class="h3">Sorry, to complete the survey you must fix the following errors</h2>
                <ul class="link-list">
                  <li>
                    <a class="error-text" href="#error-message">Incomplete survey</a>
                  </li>
                </ul>
              </div>
              <p id="survey-message">
                We’d like to gain a better understanding of your experience here today, so that we can continue to improve this service. Please answer the following question:
              </p>
              <div id="thank-you-message" style="display:none;">
                <p>
                  Thank you for completing the survey.
                </p>
                <p>
                  Your response will help us evaluate our online service.
                </p>
              </div>

              <form class="form" action="javascript:survey();">
                <fieldset class="form-group form-row">
                  <legend class="h3">Did anyone help you today to complete the health data preferences service?</legend>
                  <span class="form-label__hint">For example a family member or friend</span>

                  <div class="error error-message" id="error-message">
                    <p class="error-text error-label">Please select an option below</p>
                    <br />
                  </div>

                  <input type="radio" name="assisted-journey" value="assisted-journey-yes" id="assisted-journey-yes" />
                    <label for="assisted-journey-yes" class="form-label form-label--radio multiple-choice--radio lg"> Yes</label>

                    <input type="radio" name="assisted-journey" value="assisted-journey-no" id="assisted-journey-no" />
                    <label for="assisted-journey-no" class="form-label form-label--radio multiple-choice--radio lg"> No</label>
                </fieldset>
                <input type="submit" class="button" value="Submit"  />
              </form>
              </div>
            </div>
          </div>
      </div>
  </div>
</main>
{% endblock %}
