{% set title = 'NHS App' %}
{% set content_title = "Overview" %}
{% set PROTOTYPE_URL = 'nhsonline' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/app.html' %}
{% block body %}

<div class="nhsuk-o-width-container">
  <main id="content" role="main" class="nhsuk-o-main-wrapper in-app">

    <div class="nhsuk-page-heading">



<ul class="list-menu">
	<li>
		<a href="#" id="btn_organdonation">
			<h2>Set organ donation preferences</h2>
			<p>Help save thousands of lives in the UK every year by signing up to become a donor on the NHS Organ Donor Register.</p>
		</a>
	</li>
	<li>
		<a href="/{{PROTOTYPE_URL}}/01-overview" id="btn_datasharing">
			<h2>Manage your choice for sharing data</h2>
			<p>Find out why your data matters and choose whether or not it can be used for research and planning.</p>
		</a>
	</li>
</ul>

</div>
	</main>
</div>

{% endblock %}
