{% set title = 'Benefits of data sharing - Find out about my data choice' %}
{% set PROTOTYPE_URL = 'M' %}
{% set content_title = "Benefits of data sharing" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Find out about my data choice
    </div>
  </div>

  <div class="page-section">
    <h1 class="page-title">{{content_title}}</h1>
    <div class="grid-row">
      <div class="column--one-third">
        <ol>
          <li>
            <a href="/{{PROTOTYPE_URL}}/01-overview">Overview</a>
          </li>
          <li>
            {{content_title}}
          </li>
          <li>
            <a href="/{{PROTOTYPE_URL}}/03-who-uses-your-data">Who uses your data</a>
          </li>
        </ol>
      </div>
      <div class="column--one-third">
        <ol start="4">
          <li>
            <a href="/{{PROTOTYPE_URL}}/04-how-data-is-protected">How data is protected</a>
          </li>
          <li>
            <a href="/{{PROTOTYPE_URL}}/05-manage-your-choice">Manage your choice</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="page-section">
      <div class="reading-width">
          <div class="grid-row">
            <div class="column--two-thirds">
              <h2 id="research">Research</h2>
              <div class="grid-row">
                <div class="column--one-third tablet">
                  <div>
                    <img src="/images/prevent_serious_illness.svg" height="70" width="auto" alt="">
                    <h3 class="h4">Prevent serious illness</h3>
                  </div>
                </div>

                <div class="column--one-third tablet">
                  <div>
                    <img src="/images/develop_new_treatments.svg" height="70" width="auto" alt="">
                    <h3 class="h4">Develop new treatments</h3>
                  </div>
                </div>

                <div class="column--one-third tablet">
                  <div>
                    <img src="/images/learn_more_about_diseases.svg" height="70" width="auto" alt="">
                    <h3 class="h4">Learn more about diseases</h3>
                  </div>
                </div>

              </div>
              <p>
                Your confidential patient information provides numerous benefits. It is used in research to find cures and better treatments for diseases like diabetes and cancer.
              </p>
              <p>
                With your data, we are better able to develop and improve health and care services for the future.
              </p>

              <h2 id="planning">Planning</h2>
              <div class="grid-row">
                <div class="column--one-third tablet">
                  <div>
                    <img src="/images/plan_nhs_services.svg" height="70" width="auto" alt="">
                    <h3 class="h4">Plan health and care services</h3>
                  </div>
                </div>

                <div class="column--one-third tablet">
                  <div>
                    <img src="/images/improve_patient_safety.svg" height="70" width="auto" alt="">
                    <h3 class="h4">Make services safer</h3>
                  </div>
                </div>

                <div class="column--one-third tablet">
                  <div>
                    <img src="/images/improve_individual_care.svg" height="70" width="auto" alt="">
                    <h3 class="h4">Improving quality of care</h3>
                  </div>
                </div>
              </div>
              <p>
                Confidential patient information can also be used to plan health and care services more effectively. The NHS and local authorities can plan where they need to provide further care services more efficiently.
              </p>
              <p>
                This helps to improve health and social care for you and your family.
              </p>

          </div>
          <div class="column--one-third">

          </div>
      </div>
  </div>
</div>

<div class="page-section">
  <div class="reading-width">
    <div class="grid-row">
      <div class="column--two-thirds">
        {{ patterns.page_nav( "Overview", "/" + PROTOTYPE_URL + "/01-overview", "Who uses your data", "/" + PROTOTYPE_URL + "/03-who-uses-your-data" ) }}
      </div>
    </div>
  </div>
</div>
</main>

{% endblock %}
