{% set title = 'No match found - Choose how data from your health records is shared for research and planning' %}
{% set content_title = 'No match found' %}
{% set PROTOTYPE_URL = 'v2-how' %}
{% block scripts %}
<script src="/javascripts/details.polyfill-1.0.0.min.js"></script>
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Choose how data from your health records is shared for research and planning
    </div>
  </div>

  <div class="page-section">


    <div class="grid-row">
      <div class="column--two-thirds">
        <div class="reading-width">
          <h1 class="h2">{{content_title}}</h1>
          <p>Sorry, we were unable to find a unique match for your details.</p>
          <p>
            With no NHS number it is harder for us to find a match. You may wish to try again with your NHS number.
          </p>

          <button class="button" href="/{{PROTOTYPE_URL}}/app/with-nhs-number/03-your-nhs-number">Use my NHS number</button>

        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}
