{% set title = 'Find out about my data choice' %}
{% block scripts %}

{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-section">
    <div class="local-header">
      <h1 class="local-header__title">{{title}}</h1>
      <div class="local-header__intro">
        <p>Homepage for M series {{title}} prototypes.</p>
      </div>
    </div>

    <div class="grid-row">
      <div class="column--two-thirds">
        <div class="callout callout--attention">
          <h2>Latest</h2>
          <h3>
            <a title="Prototype M Summary Page - {{ title }}" href="/release/index">Landing pages</a>
          </h3>
          <h3>
            <a title="Prototype M Summary Page - {{ title }}" href="/M/index">Transactional service</a>
          </h3>
          <p>
            NHSUK &amp; Transactional service - Prototype M
          </p>
          <p><a title="Start Latest - {{ title }}" role="button" class="button" href="/release/01-overview">Start latest</a></p>
        </div>

        <div class="callout">
          <h2>In production</h2>
          <h3>
            <a title="Prototype M Summary Page - {{ title }}" href="/release--25-05-2018/index">Landing pages (Release 25/05/2018)</a>
          </h3>
          <h3>
            <a title="Prototype M Summary Page - {{ title }}" href="/M/index">Transactional service</a>
          </h3>
          <p>
            NHSUK &amp; Transactional service - Prototype M
          </p>
          <p><a title="Start Latest - {{ title }}" role="button" class="button" href="/release--25-05-2018/01-overview">Start 25/05/2018 release</a></p>
        </div>

        <div class="callout callout--error">
          <h2>Depreciated</h2>
          <h3>
            <a title="Prototype M NHSUK Summary Page - {{ title }}" href="/NEXT/index">Next version of prototype M</a>
          </h3>
          <p>
            Landing page for Prototype M using NHSUK styles
          </p>
          <p><a title="Start Prototype M with NHSUK styles - {{ title }}" role="button" class="button" href="/NEXT/01-overview">Start NEXT prototype</a></p>
          <h3>
            <a title="Prototype M NHSUK Summary Page - {{ title }}" href="/NEXT-alt-1/index">ALT 1 Next version of prototype M</a>
          </h3>
          <p>
            Landing page for Prototype M using NHSUK styles, with an additional link on the first page
          </p>
          <p><a title="Start Prototype M with NHSUK styles - {{ title }}" role="button" class="button" href="/NEXT-alt-1/01-overview">Start NEXT Alt 1 prototype</a></p>
          <h3>
            <a title="Prototype M NHSUK Summary Page - {{ title }}" href="/NEXT-alt-2/index">ALT 2 Next version of prototype M</a>
          </h3>
          <p>
            Landing page for Prototype M using NHSUK styles, different page order
          </p>
          <p><a title="Start Prototype M with NHSUK styles - {{ title }}" role="button" class="button" href="/NEXT-alt-2/05-manage-your-choice">Start NEXT Alt 2 prototype</a></p>
          <h3>
            <a title="Prototype M NHSUK Summary Page - {{ title }}" href="/NHSUK/index">NHSUK Styles</a>
          </h3>
          <p>
            Landing page for Prototype M using NHSUK styles
          </p>
          <p><a title="Start Prototype M with NHSUK styles - {{ title }}" role="button" class="button" href="/NHSUK/01-overview">Start NHSUK prototype</a></p>
          <h3>
            <a title="Prototype M1 Summary Page - {{ title }}" href="/M1/index">Prototype M1</a>
          </h3>
          <p>
            Landing page for Prototype M series with previous content (M1)
          </p>
          <p><a title="Start Prototype M1 - {{ title }}" role="button" class="button" href="/M1/01-overview">Start Prototype M1</a></p>

          <h3>
            <a title="Prototype M2 Summary Page - {{ title }}" href="/M2/index">Prototype M2</a>
          </h3>
          <p>
            Landing page for Prototype M series with previous content (M2)
          </p>
          <p><a title="Start Prototype M2 - {{ title }}" role="button" class="button" href="/M2/01-overview">Start Prototype M2</a></p>

          <h3>
            <a title="Prototype M3 Summary Page - {{ title }}" href="/M3/index">Prototype M3</a>
          </h3>
          <p>
            Landing page for Prototype M series with previous content (M3)
          </p>
          <p><a title="Start Prototype M3 - {{ title }}" role="button" class="button" href="/M3/01-overview">Start Prototype M3</a></p>

          <h3>
            <a title="Prototype M4 Summary Page - {{ title }}" href="/M4/index">Prototype M4</a>
          </h3>
          <p>
            Landing page for Prototype M series with previous content (M4)
          </p>
          <p><a title="Start Prototype M4 - {{ title }}" role="button" class="button" href="/M4/01-overview">Start Prototype M4</a></p>
        </div>

      </div>

      <div class="column--one-third">
        <div class="callout callout--muted">
          <h2 class="h3">Recent prototypes</h2>
          <ul class="link-list">
            <li>
              <a href="https://ndop-k.herokuapp.com/">Prototype K</a>
            </li>
            <li>
              <a href="https://ndop-j.herokuapp.com/">Prototype J</a>
            </li>
            <li>
              <a href="https://ndop-h.herokuapp.com/">Prototype H</a>
            </li>
            <li>
              <a href="https://ndop-g.herokuapp.com/">Prototype G</a>
            </li>
            <li>
              <a href="https://ndop-f.herokuapp.com/">Prototype F</a>
            </li>
          </ul>
        </div>
      </div>
    </div>



  </div>
</main>
{% endblock %}
