{% set title = 'Find out about my data choice' %}
{% block scripts %}

{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-section">
    <div class="local-header">
      <h1 class="local-header__title">{{title}}</h1>
      <div class="local-header__intro">
        <p>Homepage for N series {{title}} prototypes.</p>
      </div>
    </div>

    <div class="grid-row">
      <div class="column--two-thirds">
        <div class="callout callout--attention">
          <h2>Latest</h2>
          <h3>
            <a title="Prototype N Summary Page - {{ title }}" href="/release/index">Landing pages</a>
          </h3>
          <h3>
            <a title="Prototype N Summary Page - {{ title }}" href="/N/index">Transactional service</a>
          </h3>
          <p>
            NHSUK &amp; Transactional service - Prototype N
          </p>
          <p><a title="Start Latest - {{ title }}" role="button" class="button" href="/release/01-overview">Start latest</a></p>
        </div>
      </div>

      <div class="column--one-third">
        <div class="callout callout--muted">
          <h2 class="h3">Recent prototypes</h2>
          <ul class="link-list">
            <li>
              <a href="https://ndop-m.herokuapp.com/">Prototype M</a>
            </li>
            <li>
              <a href="https://ndop-k.herokuapp.com/">Prototype K</a>
            </li>
            <li>
              <a href="https://ndop-j.herokuapp.com/">Prototype J</a>
            </li>
            <li>
              <a href="https://ndop-h.herokuapp.com/">Prototype H</a>
            </li>
            <li>
              <a href="https://ndop-g.herokuapp.com/">Prototype G</a>
            </li>
            <li>
              <a href="https://ndop-f.herokuapp.com/">Prototype F</a>
            </li>
          </ul>
        </div>
      </div>
    </div>



  </div>
</main>
{% endblock %}
