{% set title = 'January 2019' %}
{% block scripts %}

{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-section">

    <div class="grid-row">
      <div class="column--two-thirds">
        <div class="">
          <h1 class="h2">{{title}}</h1>

          <h2 class="h3">
            <a title="Prototype N Summary Page - {{ title }}" href="/release/01-overview">Landing pages (IF)</a>
          </h2>
          <h2 class="h3">
            <a title="Prototype N Summary Page - {{ title }}" href="/release-how/01-overview">Landing pages (HOW)</a>
          </h2>

          <p>
            <a href="/">Back to previous page</a>
          </p>


        </div>
      </div>

      <div class="column--one-third">
      </div>
    </div>



  </div>
</main>
{% endblock %}
