{% set title = 'Find out why your NHS data matters' %}
{% block scripts %}

{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-section">
    <div class="local-header">
      <h1 class="local-header__title">{{title}}</h1>
      <div class="local-header__intro">
        <p></p>
      </div>
    </div>

    <div class="grid-row">
      <div class="column--two-thirds">
        <h2>Words</h2>
        <p>
          <a onclick="console.log('hi')" role="button" class="button" href="#">Agree and continue</a>
        </p>
      </div>

      <div class="column--one-third">
      </div>
    </div>



  </div>
</main>
{% endblock %}
