{% set title = 'Find out why your NHS data matters' %}
{% block scripts %}
<script src="/javascripts/{{PROTOTYPE_URL}}/splitter.js"></script>
{% endblock %}
{% set ANALYTICS_TRUE = 'True' %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-section">
    <div class="grid-row">
      <div class="column--two-thirds">
        <h1 class="h2">Thank you for agreeing to take part in our study</h1>
        <p>
          We are making some improvements to our site and would appreciate your feedback. This will help us make sure the site is easy to use for everyone.
        </p>
        <p>
          It should take you no longer than 10 minutes to complete.
        </p>
        <p>
          Please go through the website as naturally as possible. As you do this you will be asked some questions.
        </p>
        <p>
          <strong>Please enter your own details into the site.</strong>
        </p>
        <p>
          As it is a test site, it will not save any of your information, and will not be linked to your medical record.
        </p>
        <p>
          At one point in the site you may see some details shown that are not yours. That is because it is a test site, and therefore we can’t show you your own details. This is fine, just continue as you normally would as if these <strong>WERE YOUR OWN DETAILS</strong>.
        </p>
        <p>
          If you have any questions about this, please contact the researchers at <a href="mailto:edt1research@nhs.net">edt1research@nhs.net</a>
        </p>

        <p>
          <a onclick="split();" role="button" class="button" href="#">Start now</a>
        </p>
      </div>

      <div class="column--one-third">
      </div>
    </div>



  </div>
</main>
{% endblock %}
