{% set title = 'Find out why your NHS data matters' %}
{% block scripts %}
<script src="/javascripts/{{PROTOTYPE_URL}}/splitter.js"></script>
{% endblock %}
{% set ANALYTICS_TRUE = 'True' %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-section">
    <div class="grid-row">
      <div class="column--two-thirds">
        <h1 class="h2">Sorry, this study is now closed.</h1>
        <p>
          Thank you for offering to take part in our study. It is now closed.
        </p>
        <p>
          If you have any questions, or additional feedback, please contact the researchers at <a href="mailto:edt1research@nhs.net">edt1research@nhs.net</a>
        </p>
      </div>

      <div class="column--one-third">
      </div>
    </div>



  </div>
</main>
{% endblock %}
