{% set title = 'Other ways to manage your choice - Find out about my data choice' %}
{% set content_title = "Other ways to manage your choice" %}
{% set PROTOTYPE_URL = 'M5' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Find out about my data choice
    </div>
  </div>

  <div class="page-section">
      <div class="reading-width">
        <h1 class="page-title">{{content_title}}</h1>
          <div class="grid-row">
            <div class="column--two-thirds">
              <h2 id="set-a-choice-by-phone" class="h3">Set a choice by phone</h2>
              <p>
                To manage your choice online, you must be able to verify your identity. You can't do this if you haven't registered an email or mobile number with an NHS practice.
              </p>
              <p>
                Contact the NHS Digital Contact Centre to verify your identity and discuss your data sharing choices. We may be able to guide you through the service or set a choice on your behalf.
              </p>
              <p>
                Call: 0300 303 5678
              </p>
              <p>
                Open: 9am to 5pm Monday to Friday (excluding bank holidays).
              </p>
              <h2 id="set-a-choice-by-post" class="h3">Set a choice by print and post</h2>
              <p>
                If you are unable to use the online service for any other reason, you can request a paper print-and-post form to set a choice instead.
              </p>
              <p>
                <a>Request a print and post form (This service will be available in May 2018)</a>.
              </p>
              <h2 id="set-a-choice-on-behalf-of-another-individual" class="h3">Set a choice on behalf of another individual</h2>
              <p>
                You can also set a choice on behalf of another individual by proxy. For example, a parent may want to set a choice on behalf of their child.
              </p>
              <p>
                <a>Request a by proxy form (This service will be available in May 2018)</a>.
              </p>

            </div>
            </div>
          </div>
      </div>

      <div class="page-section">
        <div class="reading-width">
          <div class="grid-row">
            <div class="column--three-quarters">
              {{ patterns.page_nav( "Manage your choice", "/" + PROTOTYPE_URL + "/05-manage-your-choice" ) }}
            </div>
          </div>
        </div>
      </div>
  </div>

</main>
{% endblock %}
