{% set title = "Where an opt-out doesn't apply - Find out about my data choice" %}
{% set content_title = "Where an opt-out doesn't apply" %}
{% set PROTOTYPE_URL = 'M5' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Find out about my data choice
    </div>
  </div>

  <div class="page-section">
      <div class="reading-width">
        <h1 class="page-title">{{ content_title }}</h1>
          <div class="grid-row">
            <div class="column--two-thirds">
              <p>
              There are some circumstances where opt-outs do not apply. In these circumstances, your confidential patient information will still be used.
              </p>
              <p>
              Opting out will not apply:
              </p>
              <ul>
                <li>where the information is used for purposes relating to your individual care</li>
                <li>where the confidential patient information does not contain your NHS number if obtaining the number would involve disproportionate effort</li>
                <li>if you have given consent for your data to be used for a specific reason, like a medical research study</li>
                <li>where data is anonymised which means you cannot be identified from the information</li>
                <li>where there is a legal requirement to provide information, such as an order of court</li>
                <li>where there is an overriding public interest in the disclosure of your data</li>
                <li>where information is used to support the management of communicable diseases and other risks to public health, like meningitis</li>
                <li>where patient registration information is supplied to the Office for National Statistics</li>
                <li>to data shared with Public Health England for the National Cancer Registration Service and National Congenital Anomalies and Rare Diseases Registration Service</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="page-section">
        <div class="reading-width">
          <div class="grid-row">
            <div class="column--three-quarters">
              {{ patterns.page_nav( "Manage your choice", "/" + PROTOTYPE_URL + "/05-manage-your-choice" ) }}
            </div>
          </div>
        </div>
      </div>

  </div>

</main>
{% endblock %}
