{% set title = 'Downloads - Find out about my data choice' %}
{% set content_title = 'Set a choice by post' %}
{% set PROTOTYPE_URL = 'NEXT-alt-1' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/choices.html' %}

{% block body %}
<div class="breadcrumb" aria-label="breadcrumb">
  <ol>
    <li><a href="#">Home</a></li>
    <li><a href="/{{PROTOTYPE_URL}}/01-overview">Find out about my data choice</a></li>
    <li class="breadcrumb__last">{{content_title}}</li>
  </ol>
</div>

<main id="content" role="main">
  <div class="page-section">
      <div class="reading-width">
          <div class="grid-row">
            <div class="column--two-thirds">
              <h1 class="page-title__NHSUK">{{content_title}} <small>Find out about my data choice</small></h1>
              <h2 id="manage-a-choice-by-post" class="h3">Manage a choice by post</h2>
              <p>
                Use this form to set a choice if you are unable to use the online service.
              </p>
              <div class="grid-row">
                <div class="column--one-quarter tablet">
                  <a href="#">
                    <img alt="" class="thumbnail--download" src="/images/proxy_form_thumbnail.png" height="150" width="auto" />
                  </a>
                </div>
                <div class="column--two-thirds">
                  <ul class="link-list">
                    <li><a href="#">Manage a choice by post</a></li>
                    <li>Published: 25/05/2018</li>
                    <li>Last updated: 25/05/2018</li>
                    <li>Service: <a href="/{{PROTOTYPE_URL}}/01-overview">Find out about my data choice</a></li>
                  </ul>
                </div>
              </div>
              <h2 id="manage-a-choice-by-proxy" class="h3">Manage a choice by proxy form</h2>
              <p>
                Use this form to set a choice on behalf of another individual by proxy. For example, a parent may want to set a choice on behalf of their child.
              </p>
              <div class="grid-row">
                <div class="column--one-quarter tablet">
                  <a href="#">
                    <img alt="" class="thumbnail--download" src="/images/proxy_form_thumbnail.png" height="150" width="auto" />
                  </a>
                </div>
                <div class="column--two-thirds">
                  <ul class="link-list">
                    <li><a href="#">Manage a choice by proxy form</a></li>
                    <li>Published: 25/05/2018</li>
                    <li>Last updated: 25/05/2018</li>
                    <li>Service: <a href="/{{PROTOTYPE_URL}}/01-overview">Find out about my data choice</a></li>
                  </ul>
                </div>
              </div>
            </div>
            </div>
          </div>
      </div>

      <div class="page-section">
        <div class="reading-width">
          <div class="grid-row">
            <div class="column--three-quarters">
              {{ patterns.page_nav( "Find out about my data choice", "/" + PROTOTYPE_URL + "/01-overview" ) }}
            </div>
          </div>
        </div>
      </div>
  </div>

</main>
{% endblock %}
