{% set title = 'Find out about my data choice' %}
{% block scripts %}

{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-section">

    <div class="grid-row">
      <div class="column--two-thirds">
        <h1 class="h2">Error messages</h1>
        <h2 class="h3">Enter your name</h2>
        <ul>
          <li>
            <a href="enter-your-name/1">Scenario</a>
          </li>
        </ul>
      </div>
    </div>

</main>
{% endblock %}
