{% set title = 'National Data Opt-out “Find out why your NHS data matters” Service Privacy Notice' %}
{% set content_title = "Privacy notice" %}
{% set PROTOTYPE_URL = 'v1' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Find out why your NHS data matters
    </div>
  </div>

  <div class="page-section">

          <div class="grid-row">
            <div class="column--two-thirds">
              <div class="reading-width">
                <h1 class="h2">{{content_title}}</h1>
              <h2 class="h3" id="what-information-do-we-collect-about-you">National Data Opt-out “Find out why your NHS data matters” service privacy notice</h2>
              <p>
                The “Find out why your NHS data matters” service allows you to register a national data opt-out. This prevents your confidential patient information from being used for reasons beyond your individual care and treatment (subject to exemptions).
              </p>
              <p>
                For the national data opt-out the following definitions are used:
              </p>
              <ul>
                <li>
                  confidential patient information is information which identifies you and says something about your health, care or treatment. You would expect this information to be kept private. Information that only identifies you, like your name and address, is not considered to be confidential patient information and may still be used. For example, to contact you if your GP practice is merging with another
                </li>
                <li>
                  purposes beyond your individual care and treatment include the use of your confidential patient information to plan and improve health and adult social care services in England. It also includes the use of your confidential patient information for research and planning. This enables the NHS to develop cures for serious illnesses and plan better services for the future. You can opt-out of this, but health and care professionals may still use your confidential patient information to help with your treatment and care
                </li>
                <li>
                  the national data opt-out applies to confidential patient information related to health and adult social care services in England which are publicly funded or publicly co-ordinated.  It will not apply to health and adult social care services that you receive outside of England or if you are a private patient
                </li>
              </ul>
              <p>
                This document sets-out what we collect and how we use your personal data to provide the national data opt-out service, including your rights and how to contact us.  It does not detail how NHS Digital processes your data to provide any other services.  This forms part of a range of materials, with links to further information on the national data opt-out including exemptions when it does not apply are found below.
              </p>
              <h3 class="h4">“Find out why your NHS data matters”</h3>
              <p>
                For information about the national data opt-out, how it works and to manage your choice, please visit <a aria-label="Find out why your NHS data matters" href="https://www.nhs.uk/your-data-matters">www.nhs.uk/your-data-matters</a>.
              </p>
              <h3 class="h4">Policy and exemptions</h3>
              <p>
                For more detailed operational policy guidance, exemptions and information on the phased implementation of the national data opt-out across health and care, please visit the <a href="https://digital.nhs.uk/national-data-opt-out">national data opt out website</a>.
              </p>
              <h2 id="what-information-do-we-collect-about-you" class="h3">What information do we collect about you?</h2>
              <p>
                To set your national data opt-out choice we first need to verify your identity – we match the information you provide with information we already hold on our system. The information we need will depend on how you access the service.
              </p>
              <h2 id="accessing-the-service" class="h3">Accessing the service</h2>
              <h3 class="h4">Digital</h3>
              <p>
                 We ask for your name, date of birth and NHS number. Once we find a match and verify this, using a passcode sent to your registered mobile phone or email address, we do not keep this information.
              </p>
              <h3 class="h4">Assisted digital</h3>
              <p>
                 We ask for your name, date of birth and NHS number.  If you do not know your NHS number, we may ask you for your postcode to help us find a match.  Once we find a match and verify this, using a passcode sent to your registered mobile phone or email address, we do not keep this information.
              </p>
              <h3 class="h4">Non-digital</h3>
              <h4 class="h5">Setting an opt-out for yourself</h4>
              <p>
                We ask for your name, address, postcode and NHS number. If you are unable to provide an NHS number, you will need to provide copies of two identification documents (one confirming your name and the other confirming your address).
              </p>
              <h4 class="h5">Setting an opt-out on behalf of another person</h4>
              <p>
                We ask for your name, address, postcode and proof that you can act on behalf of the other person such as a Lasting Power of Attorney.  For the individual you are setting the opt-out for we ask for their name and NHS number.  If you are unable to provide their NHS number, you will need to provide copies of two identification documents for this person (one confirming their name and the other confirming their address.
              </p>
              <p>
                Once we find a match, the documents are disposed of as confidential waste. If original documents are sent in error, these will be returned to you securely.
              </p>
              <h2 id="what-information-do-we-store" class="h3">What information do we store?</h2>
              <p>
                Once we have matched you to your individual record in our secure data store, your opt-out choice is stored against your NHS number. This is the minimum information that we need to provide this service.
              </p>
              <p>
                We record and store audit data each time you use the service including:
              </p>
              <ul>
                <li>
                  the date and time
                </li>
                <li>
                  whether you used the digital, assisted digital or non-digital service
                </li>
                <li>
                  whether the opt-out was for yourself or for another person, for example a parent/guardian for their child
                </li>
              </ul>
              <p>
                Your internet protocol (IP) address – a unique identifier for your computer or other access device – is also stored to help us monitor and protect the service from malicious use.
              </p>
              <p>
                We also collect and retain some management information about the performance of the service itself such as time taken for each transaction or system availability.  This information does not identify you personally and is used to monitor and improve the service provided.
              </p>
              <p>
                You may be invited to provide feedback on the service. You can decide if you want to participate, this does not identify you personally and is only used to improve the service provided.
              </p>
              <h3 class="h4">Where your data is stored</h3>
              <p>
                We store your data on secure cloud servers in the <a href="https://www.gov.uk/eu-eea">European Economic Area (EEA)</a>.
              </p>
              <h3 class="h4">How do we use your data?</h3>
              <p>
                NHS Digital uses your personal data to:
              </p>
              <ul>
                <li>
                  identify who you are so that your data opt-out choice is correctly allocated to your record on our secure data store
                </li>
                <li>
                  make a record of your choice in our secure data store against your NHS number
                </li>
                <li>
                  uphold your data opt-out choice on data releases that we make to others
                </li>
                <li>
                  produce statistics on how many people have registered an opt-out, some analysis of their age and geographical spread and how this changes over time. This will be done in a way that does not identify you
                </li>
              </ul>
              <p>
                NHS Digital will apply your opt-out as soon as we can after we have received it, but it may take up to 21-days for your opt-out to take effect in all releases of data.
              </p>
              <p>
                NHS Digital may contact you directly about your opt-out if there are significant changes to the service or if the national data opt-out is withdrawn.
              </p>
              <h2 id="what-is-our-legal-basis-for-processing-this-data" class="h3">What is our legal basis for processing this data?</h2>
              <p>
                NHS Digital has been instructed by the Department of Health and Social Care, through a document called a Direction, to provide this service. A Direction is a legally binding document. Directions are published on the <a href="https://digital.nhs.uk/about-nhs-digital/corporate-information-and-documents/directions-and-data-provision-notices/secretary-of-state-directions/national-data-opt-out-direction-2017">NHS Digital website</a>. This means that NHS Digital is processing your personal data to meet our legal obligation to provide this service. You can choose whether you want to use this service and can change your mind at any time.
              </p>
              <h2 id="how-long-will-we-keep-this-information" class="h3">How long will we keep this information?</h2>
              <p>
                Once set an opt-out is not time limited and does not change unless you take action to withdraw it.  Your opt-out continues to apply after you have died.  A national data opt-out set by a parent/guardian on behalf of a child remains in place until:
              </p>
              <ul>
                <li>
                  the young person changes it once they reach the age of 13 or
                </li>
                <li>
                  the parent/guardian changes it – this can only be done while the child is under 13
                </li>
              </ul>
              <p>
                We will continue to uphold your data opt-out choice against your NHS number in our secure data store until instructed to stop running the service by the Department of Health and Social Care.
              </p>
              <p>
                In line with our records management policy, we will retain the audit information for 8 years to enable us to monitor and report on the use of the service.
              </p>
              <h2 id="how-you-can-access-your-data" class="h3">How you can access your data?</h2>
              <p>
                You can check and change your opt-out choice at any time. This can be done through the “Find out why your NHS data matters” digital service or by calling the telephone helpline on 0300 303 5678. (Open: 9am to 5pm Monday to Friday - excluding bank holidays).
              </p>
              <p>
                You will need to verify your identity every time you want to access or change your data opt-out choice.
              </p>
              <p>
                As we only use your NHS number to record and uphold your opt-out, you are advised to check that your choice is still correctly recorded in the event that you are assigned a different NHS number.
              </p>
              <h2 id="who-do-we-share-your-data-with" class="h3">Who do we share your data with?</h2>
              <p>
                If you have registered an opt-out, your NHS number is shared with other health and care organisations so that they can uphold your opt-out.  The approach for doing this is not yet finalised and we will update this notice with further information before we start to share your data.  This information will only be shared with health and adult social care organisations providing publicly funded or co-ordinated care so that they do not share your confidential patient information for research or planning purposes (subject to exemptions).
              </p>
              <p>
                The Government has set out that all health and adult social care services will be upholding the national data opt-out by 2020.  For more details on the phased implementation of the national data opt-out across health and care, please visit the <a href="https://digital.nhs.uk/national-data-opt-out">national data opt-out website</a>.
              </p>
              <h2 class="h3">How to contact us or to make a complaint</h2>
              <p>
                Please contact us if you have any questions about the information provided above or about the data we hold on you:
              </p>
              <ul class="link-list">
                <li>
                  by phone:	0300 303 5678
                </li>
                <li>
                  by email:	<a href="mailto:enquiries@nhsdigital.nhs.uk">enquiries@nhsdigital.nhs.uk</a>
                </li>
                <li>
                  by post:	NHS Digital, 1 Trevelyan Square, Boar Lane, Leeds LS1 6AE
                </li>
              </ul>
              <p>
                Please use the same details if you want to contact our data protection officer.
              </p>
              <p>
                We are keen to act on feedback and encourage you to contact us so that we can work with you to continuously improve our service.  However, if you would like to make a complaint  please use the contact details above and mark your enquiry “stage 1 complaint” or select option 2 if you are calling.
              </p>
              <p>
                You can at any time submit a complaint with the supervisory authority.  The relevant body to contact is the Information Commissioner’s Office, Wycliffe House Water Lane, Wilmslow, SK9 5AF. <a href="https://ico.org.uk/">www.ico.org.uk</a>.
              </p>

            </div>
          </div>
        </div>
      </div>

</main>
{% endblock %}
