{% set title = 'Prototype hub' %}
{% set PROTOTYPE_URL = 'hub' %}
{% extends 'layouts/redesign.html' %}

{% block body %}

<div class="nhsuk-o-width-container">
        <main id="main-content" class="nhsuk-o-main-wrapper">

            <div class="nhsuk-o-grid">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                    <div class="nhsuk-page-heading">


  <h1>Find out why your data matters</h1>
	<div class="nhsuk-reading-width">
    <p class="nhsuk-body-l nhsuk-page-intro">
      The NHS wants to make sure you and your family have the best care now and in the future. Your health and adult social care information supports your individual care. It also helps us to research, plan and improve health and care services in England.
    </p>

	</div>

                    </div>
                </div>
            </div>



<section>
  <div class="nhsuk-o-grid">
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
          <a href="/examples/test-general-prescription-costs" class="nhsuk-c-promo-white">
              <div class="nhsuk-c-promo-white-inner">
                  <h2 class="nhsuk-heading-s">How the NHS uses your data</h2>
              </div>
          </a>
      </div>

      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
          <a href="/examples/test-general-eye-care" class="nhsuk-c-promo-white">
              <div class="nhsuk-c-promo-white-inner">
                  <h2 class="nhsuk-heading-s">Manage your data choice</h2>
              </div>
          </a>
      </div>

  </div>
</section>

<section>
  <div class="nhsuk-o-grid">
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--three-quarters">
      <div class="nhsuk-c-promo-v1">
          <h2 class="nhsuk-heading-l">Your health and care records</h2>
          <p class="nhsuk-body-l">
            When you visit an NHS or social care service, information about you and the care you receive is recorded and stored in a health and care record. This is so that people caring for you can make the best decisions about your care.
          </p>
      </div>
    </div>
  </div>

  <div class="nhsuk-o-grid">

      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
          <div class="nhsuk-c-promo-v1">
              <h2 class="nhsuk-heading-s">Confidential patient information</h2>
              <p>This information identifies you and says something about your health care or treatment. Information that only identifies you like your name and address is not confidential patient information.</p>
          </div>
      </div>

      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
          <div class="nhsuk-c-promo-v1">
              <h2 class="nhsuk-heading-s">Your individual care</h2>
              <p>Health and care professionals may use your confidential patient information to help with your treatment and care. For example, your GP may access your records for information about your health.</p>
          </div>
      </div>

      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
          <div class="nhsuk-c-promo-v1">
              <h2 class="nhsuk-heading-s">Research and planning</h2>
              <p>Your confidential patient information is also used to research and develop cures for serious illnesses. It also helps to plan and improve health and care services for you and your family. </p>
          </div>
      </div>

  </div>
</section>

<section>
  <div class="nhsuk-o-grid">
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--three-quarters">
      <div class="nhsuk-c-promo-v1">
          <h2 class="nhsuk-heading-l">How the NHS uses your data</h2>
          <p class="nhsuk-body-l">
            There are very strict rules on how this data can and cannot be used, and you have clear data rights. We are committed to keeping patient information safe and will always be clear on how it is used.
          </p>
      </div>
    </div>
  </div>

  <div class="nhsuk-o-grid">
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="#">Benefits of data sharing</a></h2>
            <p>The NHS wants to make sure you and your family have the best care now and in the future. Your health and adult social care information supports your individual care. It also helps us to research, plan and improve health and care services in England.</p>
        </div>
    </div>

      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
          <div class="nhsuk-c-promo-v1">
              <h2 class="nhsuk-heading-s"><a href="#">Who uses your data</a></h2>
              <p>The NHS collects health and care data from all NHS organisations, trusts and local authorities. Data is also collected from private organisations, such as private hospitals providing NHS funded care. </p>
          </div>
      </div>
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
          <div class="nhsuk-c-promo-v1">
              <h2 class="nhsuk-heading-s"><a href="#">How data is protected</a></h2>
              <p>Protection of your confidential patient information is taken very seriously. Information Governance (IG) across health and care ensures your data is looked after in accordance with good practice and the law.</p>
          </div>
      </div>

  </div>
</section>

<section>
  <div class="nhsuk-o-grid">
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--three-quarters">
      <div class="nhsuk-c-promo-v1">
          <h2 class="nhsuk-heading-l">Manage your data choice</h2>
          <p class="nhsuk-body-l">
            If you don’t want your confidential patient information to be used for research and planning, you can opt out of this.
          </p>

          <a href="/ndop/hub/where-you-have-a-choice" class="nhsuk-c-action-link">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
              <image class="nhsuk-icon__arrow-right-circle nhsuk-icon__arrow-right-circle--fallback" src="/assets/images/icon-arrow-right.png" xlink:href=""></image>
            </svg>
            <span>Manage your choice</span>
          </a>
      </div>
    </div>
  </div>

  <div class="nhsuk-o-grid">

      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
          <div class="nhsuk-c-promo-v1">
              <h2 class="nhsuk-heading-s"><a href="#">Manage your choice online</a></h2>
              <p>To manage your choice online, you must be able to verify your identity. You can't do this if you haven't registered an email or mobile number with an NHS practice. You will also need your NHS number. </p>
          </div>
      </div>
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
          <div class="nhsuk-c-promo-v1">
              <h2 class="nhsuk-heading-s"><a href="#">Where your opt-out doesn't apply</a></h2>
              <p>If you choose to opt out, your data may still be used during some specific situations. For example, during an epidemic where there might be a risk to other people’s health.</p>
          </div>
      </div>
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
          <div class="nhsuk-c-promo-v1">
              <h2 class="nhsuk-heading-s"><a href="#">Other ways to manage a choice</a></h2>
              <p>You can print and complete a paper form or use our telephone service to ask for help. You can also manage a choice on behalf of someone else. For example, if you are a parent of a child under the age of 13. </p>
          </div>
      </div>
  </div>

<div class="nhsuk-o-grid">
  <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
      <div class="nhsuk-c-promo-v1">
          <h2 class="nhsuk-heading-s"><a href="#">Additional formats and languages</a></h2>
          <p>Find information about your data choice is a range of other formats and languages.</p>
      </div>
  </div>
</div>
</section>





        </main>
    </div>

    <div class="nhsuk-o-width-container">
        <main class="nhsuk-o-main-wrapper">
            <div class="nhsuk-o-grid">
				<div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">

					<div class="nhsuk-page-heading">

						<h1>Overview <small>Find out why your NHS data matters</small></h1>

						<div class="nhsuk-c-page-contents v3 v4">
							<ul>
								<li><strong>Overview</strong></li>
                <li><a href="/ndop/benefits-of-data-sharing">Benefits of data sharing</a></li>
                <li><a href="/ndop/who-uses-your-data">Who uses your data</a></li>
                <li><a href="/ndop/how-data-is-protected">How data is protected</a></li>
                <li><a href="/ndop/manage-your-choice">Manage your choice</a></li>

							</ul>
						</div>
          </div>

          <div class="nhsuk-page-content">

            <p>
            The NHS wants to make sure you and your family have the best care now and in the future. Your health and adult social care information supports your individual care. It also helps us to research, plan and improve health and care services in England.
          </p>
          <p>
            There are very strict rules on how this data can and cannot be used, and you have clear data rights. We are committed to keeping patient information safe and will always be clear on how it is used.
          </p>
          <p>
            You can choose whether or not your confidential patient information is used for research and planning.
          </p>
          <h2 id="your-confidential-patient-information">Your confidential patient information</h2>
          <p>
            Confidential patient information identifies you and says something about your health, care or treatment. You would expect this information to be kept private. Information that only identifies you like your name and address is not confidential patient information and may still be used. For example, to contact you if your GP practice is merging with another.
          </p>
          <p>
            <a href="https://www.nhs.uk/NHSEngland/thenhs/records/healthrecords/Pages/overview.aspx" target="_blank">More information on health and care records ​<span class='visually-hidden'> - Page opens in new window</span></a> <span aria-hidden="true"> (opens in new window)</span>.
          </p>
          <h2 class="h3" id="using-your-confidential-patient-information">Using your confidential patient information</h2>
          <p>
            Your confidential patient information is used in two different ways:
          </p>
          <h3 id="your-individual-care">Your individual care</h3>

          <div class="nhsuk-o-grid">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
              <img alt="" class="data-usage-icon" src="https://assets.nhs.uk/prod/images/individual_care_icon.width-200.png" height="150" width="auto" />
            </div>
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
              <p>Health and care professionals may use your confidential patient information to help with your treatment and care.
              </p>
              <p>For example, when you visit your GP, they may access your records for important information about your health.</p>
            </div>
          </div>

          <h3 id="research-and-planning">Research and planning</h3>
          <div class="nhsuk-o-grid">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
              <img alt="" class="data-usage-icon" src="https://assets.nhs.uk/prod/images/research_icon.width-200.png" height="150" width="auto" />
            </div>
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
              <p>Confidential patient information is also used to:</p>
              <ul>
                <li>
                  plan and improve health and care services
                </li>
                <li>
                  research and develop cures for serious illnesses
                </li>
              </ul>
            </div>
          </div>

          <p>
            Most of the time, we use anonymised data for research and planning. So your confidential patient information isn’t always needed.
          </p>

          <h2 id="where-you-have-a-choice">Where you have a choice</h2>
          <p>If you don’t want your confidential patient information to be used for research and planning, you can opt out of this. If you do opt out, there are some specific situations where your data may still be used. Data that does not identify you may still also be used.</p>
          <p>Your confidential patient information will still be used to support your individual care. Any preference you set using this service will not change this.</p>
          <p>
            If you opt out, your decision will only apply within the health and care system in England. Your opt-out will not apply to your health data where you have accessed health or care services outside of England, such as in Scotland and Wales.
          </p>
          <h2 id="manage-your-choice">Manage your choice</h2>
          <p>
            You may use our online service, or request a print-and-post form, to make or change your choice at any time. You can also request assistance or make your choice using our telephone service. If you do not wish to opt out, you don’t have to do anything at all.
          </p>
          <p>
            You can also manage a choice on behalf of another individual by proxy. For example, if you are a parent or guardian of a child under the age of 13.
          </p>
          <p>
            <a href="/ndop/manage-your-choice">Manage your choice</a> or continue reading for more information.
          </p>


					</div>


				</div>
			</div>
        </main>
	</div>

{% endblock %}
