{% set title = 'Find out why your NHS data matters' %}
{% set PROTOTYPE_URL = 'A' %}
{% block scripts %}

{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-section">
    <div class="grid-row">
      <div class="column--two-thirds">
        <h1 class="h2">Thank you for taking part in our study</h1>
        <p>
          Your feedback is greatly appreciated and will help us make our service better for everyone.
        </p>
        <p>
          Please fill in our survey before you leave. This should automatically appear after 10 seconds.
        </p>
      </div>

      <div class="column--one-third">
      </div>
    </div>



  </div>
</main>
{% endblock %}
