.calder {

  .v1 {

    h2 {

      font-size: 28px;
    }
  }
}

@import "components/choices_footer";

.app--error {

  pre {

    width: 100%;
    overflow: scroll;
    padding: 2em;
    border: 1px solid;
    border-radius: 5px;
    background-color: #efefef;
  }
}

.nhsapp {
  background-color: #f0f4f5;

  body {

    background-color: #f0f4f5;
  }

  .nhsuk-page-heading {

    padding: 0;
    margin-top: -1em;
  }
}
