@import "../environment/tools/mixins/button";

  .button, a.button {

  margin-bottom: 0;
  margin-top: 1.5em;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 8px 32px;
  line-height: 1.846;
  border-radius: 1px;
  display: inline-block;
  font-size: 21px;
	font-weight:  500;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
  background-color:  $green;
  color: $white;
  letter-spacing: .8px;

  &:hover {

    background-color: darken($green, 10%);

  }
  &:active,
  &:focus {
    background-color: darken($green, 5%);
    border-color: $focus-colour;
    box-shadow: 0 0 0 4px $focus-colour;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
  }

  &:focus,
  &:active {
    border-color: $focus-colour;
    box-shadow: 0 0 0 4px $focus-colour;
    border-radius: 0;
  }

  &:visited {

    color: $white;
  }

  @include media(mobile) {
    font-size: 19px;
    letter-spacing: .5px;
    margin-top: .5em;
  }

  &.wire {

    border: 2px solid darken( $blue, 5% );
    background-color: transparent;
    color: darken( $blue, 5% );

    &:hover {

      background-color: #efefef;
    }

  }

  &.xl {

    display: block;
    padding: 16px;

    & + .xl {

      margin-top: 8px;
    }

    .inner {

      @include media(mobile){

        display: block;
      }


    }

    @include media(mobile) {
      font-size: 17px;
      line-height: 27.5px; //golden ratio of 17px
      padding: 8px;
      min-height: 64px;
    }

  }
}

input {

  &:focus {

    outline: none;
  }
}

.button--secondary {
  @include button($grey-4);
}

.button--cancel {
  @include button($red);
}

.button-wire {

    font-family: "Frutiger W01", Arial, sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 32px;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      appearance: none;
      background-color: transparent;
      border: 2px solid;
      border-radius: 2px;
      cursor: pointer;
      display: inline-block;
      letter-spacing: .5px;
      line-height: 1.25;
      outline: 1px solid transparent;
      outline-offset: -1px;
      padding: 12px 24px;
      position: relative;
      text-align: center;
      text-decoration: none;
      color: $blue;
      width: auto;

      &:before {

        background: transparent;
        content: "";
        display: block;
        height: 110%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &:hover {

      $button-wire-hover-color: darken($blue, 10%);
      color: $button-wire-hover-color;
      border-color: $button-wire-hover-color;

    }

}

// Link button

.button--link {

  font-family: "Frutiger W01", Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    appearance: none;
    background-color: transparent;
    border: 0;
    box-shadow: 0 2px 0 #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: .5px;
    line-height: 1.25;
    outline: 1px solid transparent;
    outline-offset: -1px;
    padding: 12px 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    color: $blue;
    width: auto;

    &:before {

      background: transparent;
      content: "";
      display: block;
      height: 110%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
  }

}


.trigger {

  padding: 16px 32px;
  background: #fff;
  color: $black;
  text-decoration: none;
  display: block;
  line-height: 1.846;
  border-radius: 1px;
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;

  &:hover {

    color: $blue;
    background-color: $white;
  }

  &:focus {

    color: $blue;
    background-color: $white;
  }

  @include media(mobile){

    padding: 8px;
  }

  .trigger-inner {

  }

  .trigger-text {

    @include bold-font(20);
    color: $black;
    height: 75px;
    margin-top: 0;
    padding-right: 20px;
    display: table-cell;
    vertical-align: middle;

    @include media(mobile){

      font-size: 17px;
      line-height: 27.5px;
    }

  }

}
