{% set title = 'How data is protected - Find out about my data choice' %}
{% set content_title = "How data is protected" %}
{% set PROTOTYPE_URL = 'NEXT' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/choices.html' %}

{% block body %}
<div class="breadcrumb" aria-label="breadcrumb">
  <ol>
    <li><a href="#">Home</a></li>
    <li><a href="/{{PROTOTYPE_URL}}/01-overview">Find out about my data choice</a></li>
    <li class="breadcrumb__last">{{content_title}}</li>
  </ol>
</div>

<main id="content" role="main">
  <div class="page-section">
    <div class="grid-row">
      <div class="column--two-thirds">
        <h1 class="page-title__NHSUK">{{content_title}} <small>Find out about my data choice</small></h1>
      </div>
    </div>
    <div class="page-links__container">
      <div class="grid-row">
        <div class="column--one-third">
          <ol>
            <li>
              <a href="/{{PROTOTYPE_URL}}/01-overview">Overview</a>
            </li>
            <li>
              <a href="/{{PROTOTYPE_URL}}/02-benefits-of-data-sharing">Benefits of data sharing</a>
            </li>
            <li>
              <a href="/{{PROTOTYPE_URL}}/03-who-uses-your-data">Who uses your data</a>
            </li>
          </ol>
        </div>
        <div class="column--one-third">
          <ol start="4">
            <li>
              {{content_title}}
            </li>
            <li>
              <a href="/{{PROTOTYPE_URL}}/05-manage-your-choice">Manage your choice</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

    <div class="page-section">
      <div class="reading-width">
          <div class="grid-row">
            <div class="column--two-thirds">
              <p>
                Protection of your confidential patient information is taken very seriously. Information Governance (IG) across health and care ensures your data is looked after in accordance with good practice and the law.
              </p>
              <p>
                Every organisation that provides health and care services will take every step to:
              </p>
              <ul>
                <li>
                  ensure data remains secure
                </li>
                <li>
                  use anonymised data whenever possible
                </li>
                <li>
                  make best use of confidential patient information to benefit health and care
                </li>
                <li>
                  not use confidential patient information for marketing or insurance purposes (unless you specifically request this)
                </li>
                <li>
                  make it clear why and how data is being used
                </li>
                <li>
                  respect your decision if you decide to opt out
                </li>
                <li>
                  only use information about you where allowed by the law
                </li>
              </ul>
              <p>
                <a href="https://understandingpatientdata.org.uk/how-data-kept-safe" target="_blank">More information on how we protect your data <span class='util-visuallyhidden'> - Page opens in new window</span></a> <span aria-hidden="true"> (opens in new window)</span>.
              </p>
            </div>
            <div class="column--one-third">

            </div>
          </div>
      </div>
    </div>

    <div class="page-section">
      <div class="reading-width">
        <div class="grid-row">
          <div class="column--two-thirds">
            {{ patterns.page_nav( "Who uses your data", "/" + PROTOTYPE_URL + "/03-who-uses-your-data", "Manage your choice", "/" + PROTOTYPE_URL + "/05-manage-your-choice" ) }}
          </div>
        </div>
      </div>
    </div>
</main>

{% endblock %}
