{% set title = 'No match found - Choose if data from your health records is shared for research and planning' %}
{% set content_title = 'Sorry, we were unable to find a unique match for your details.' %}
{% set PROTOTYPE_URL = 'v2' %}
{% block scripts %}
<script src="/javascripts/details.polyfill-1.0.0.min.js"></script>
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Choose if data from your health records is shared for research and planning
    </div>
  </div>

  <div class="page-section">


    <div class="grid-row">
      <div class="column--two-thirds">
        <div class="reading-width">
          <h1 class="h2">{{content_title}}</h1>
          <p></p>
          <p>
           This may be because:
          </p>
          <ul>
            <li>the details you have provided do not match what we have for our records</li>
            <li>your GP practice has not updated your details recently</li>
            <li>it is harder for us to find a match without an NHS number</li>
          </ul>
          <p>If you can find your NHS number, you may be able to continue.</p>

          <button class="button" href="/{{PROTOTYPE_URL}}/app/with-nhs-number/03-your-nhs-number">Use my NHS number</button>

        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}
