{% set title = 'New - Find out why your data matters' %}
{% set content_title = "New" %}
{% set PROTOTYPE_URL = 'buying' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/nhs-digital.html' %}
{% block nhsd_navbar%}
<nav>
    <ol class="list list--reset list--inline">
      <li><a href="#">Help</a></li>
      <li><a href="/{{PROTOTYPE_URL}}/account">Account</a></li>
      <li><a href="#">Log out</a></li>
    </ol>
</nav>
{% endblock %}
{% block body %}
<section class="page-band">
  <div class="grid-wrapper">
      <div class="grid-row">
          <div class="column column--reset">
            <div class="grid-row">
              <div class="column column--reset column--two-thirds">
                <h1 class="h4">Register a product or service</h1>
              </div>
              <div class="column column--one-third">

              </div>
            </div>
          </div>
      </div>
  </div>
</section>


<main id="content" role="main">
  <article class="article article--hub">
    <div class="grid-wrapper grid-wrapper--article">
        <div class="grid-row">
            <div class="column column--reset">

                <div id="section-summary" class="article-section article-section--summary article-section--reset-top">
                    <div class="grid-row">
                        <div class="column column--three-quarters column--reset">
                            <div class="">
                              <h1 class="h2">Registering a product or service</h1>
                              <p>
                                There are four stages to complete in order to successfully register your product.
                              </p>
                              <section class="workflow">
                                <ol>
                                  <li class="workflow--container">
                                    <h2 class="h3">Submit your service or product details</h2>
                                    <a href="#" class="button">Start</a>
                                    <p>
                                      Provide us details about your service or product.
                                    </p>
                                    <p>
                                      Tell us your named contact, security officer and basic product listing details.
                                    </p>

                                  </li>
                                  <li class="workflow--container">
                                      <h2 class="h3">Choose your capabilities</h2>
                                      <p>
                                        Select the capabilities which your product or service can demonstrate. Capabilities selected will be assesed against these capabilities.
                                      </p>
                                      <p>
                                        You will need to provide evidence for your capabilities.
                                      </p>
                                      <details>
                                        <summary role="button">
                                          <span class="details__summary">Learn more about capabilities</span>
                                        </summary>
                                        <div class="details__content">
                                          <div class="reading-width">
                                            <p>
                                              Capabilities are core pieces of functionality that you tell a buyer your product or service can provide.
                                            </p>
                                            <p>In order to successfully register, you will need to demonstrate that you can provide the capabilities you select.</p>
                                          </div>
                                        </div>
                                      </details>
                                  </li>
                                  <li class="workflow--container">
                                    <h2 class="h3">Provide evidence for your standards assesment</h2>
                                    <p>
                                      Provide evidence for how your product or service can meet the NHS Digital marketplace standards.
                                    </p>
                                  </li>
                                  <li class="workflow--container">
                                    <h2 class="h3">Create a product listing page</h2>
                                    <p>
                                      Add information to help buyers evaluate your product or service.
                                    </p>
                                  </li>
                                </ol>

                              </section>


                            </div>
                        </div>
                        <div class="column column--one-third">


                        </div>
                    </div>
                </div>

                <div class="article-section">
                  <div class="grid-row">
                    <div class="column column--full column--reset">
                      <div class="content-box content-box--tertiary content-box--information content-box--padded">
                        <div class="grid-row">
                            <div class="column">
                                <h1 class="h3 content-box-title">Make your product a success</h1>
                            </div>
                        </div>

                        <div class="grid-row">
                            <div class="column column--two-thirds">
                                <div class="content-box-contents">
                                    <p>To successfully set up a product or service you'll need to demonstrate how to fit certain capabilities.</p>

                                    <a href="#" class="link">Learn more about capabilities</a>
                                </div>
                            </div>
                            <div class="column column--one-third">
                                <div class="content-box-image-wrapper">
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


            </div>
        </div>
    </div>
</article>
</main>
{% endblock %}
