{% set title = 'How would you like to confirm your identity? - Find out why your NHS data matters' %}
{% set content_title = 'How would you like to confirm your identity?' %}
{% set PROTOTYPE_URL = 'v1' %}
{% set ANALYTICS_TRUE = 'True' %}
{% block scripts %}
<script src="/javascripts/{{PROTOTYPE_URL}}/00-how-would-you-like-to-confirm-your-identity.js"></script>
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Find out why your NHS data matters
    </div>
  </div>

  <div class="page-section">
          <div class="grid-row">
            <div class="column--two-thirds">
                <div class="error error-summary callout callout--error error-message" role="alert" tabindex="-1">
                  <h2 class="h3" id="error-summary">To use this online service, resolve the following errors</h2>
                  <ul class="link-list" id="link-to-errors">
                  </ul>
                </div>

                  <form method="post" action="javascript:submit()">

                          <fieldset id="auth-option" class="form-group form-row util-no-margin">
                            <div class="reading-width">
                            <legend>
                              <h1 class="h2">{{content_title}}</h1>
                            </legend>

                            <div class="error error-message">
                              <p class="error-text error-label">Indicate your choice to continue</p>
                            </div>

                            <p>
                              For security reasons you must confirm who you are before you can make your choice.
                            </p>
                            </div>

                            <input type="radio" name="auth" id="nhs-number-journey" value="nhs-number-journey" class="multiple-choice--radio">
                            <label for="nhs-number-journey" class="form-label form-label--radio multiple-choice--radio lg">
                              Yes
                            </label>

                            <input type="radio" name="auth" id="no-nhs-number-journey" value="no-nhs-number-journey" class="">
                            <label for="no-nhs-number-journey" class="form-label form-label--radio multiple-choice--radio lg">
                              No
                            </label>

                          </fieldset>


                      <input type="submit" class="button" id="submit-details" value="Continue">

                      <p>
                        <a href="/{{PROTOTYPE_URL}}/00-privacy-notice" target="_blank">How your data will be processed to register and apply your opt-out<span class='util-visuallyhidden'> - Page opens in new window</span></a> <span aria-hidden="true"> (opens in new window).</span>
                      </p>
                  </form>
              </div>
      </div>
  </div>

</main>
{% endblock %}
