{% set title = 'Verification failure - Find out why your NHS data matters' %}
{% set content_title = 'Verification failure' %}
{% set PROTOTYPE_URL = 'v0' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Find out why your NHS data matters
    </div>
  </div>

  <div class="page-section">


          <div class="grid-row">
            <div class="column--two-thirds">
              <div class="reading-width">
              <h1 class="h2">{{content_title}}</h1>
              <p>Sorry, we were unable to find a unique match for your details.</p>
              <p>
                This may be due to input errors and you may wish to try again.
              </p>
              <p>
                Alternatively, you can choose to use the non-digital service instead.
              </p>
              <p>Please see <a href="/{{PROTOTYPE_URL}}/00-other-ways-to-manage-your-choice">other ways to manage your choice</a>.</p>
            </div>
            </div>
            </div>
          </div>
  </div>

</main>
{% endblock %}
