{% set title = 'Review your details - Choose if data from your health records is shared for research and planning' %}
{% set content_title = 'Review your details' %}
{% set PROTOTYPE_URL = 'failed-postcode-route' %}
{% set ANALYTICS_TRUE = 'True' %}
{% block scripts %}
<script src="/javascripts/{{PROTOTYPE_URL}}/without/04-review-your-details.js"></script>
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Choose if data from your health records is shared for research and planning
    </div>
  </div>

  <div class="page-section">
          <div class="grid-row">
            <div class="column--two-thirds">
              <div class="reading-width">
                <h1 class="h2">{{content_title}}</h1>

                <div class="">
                  <h2 class="h3" id="review-your-details">Your details</h2>
                  <dl class="review-your-answers" id="your-name">
                    <div>
                      <dt class="question">
                        Your name
                      </dt>
                      <dd class="answer">
                        Sally Faketon
                      </dd>
                      <dd class="change">
                        <a href="/{{PROTOTYPE_URL}}/app/without-nhs-number/change/01-your-name">
                          Change<span class="util-visuallyhidden"> your name</span>
                        </a>
                      </dd>
                    </div>
                  </dl>

                  <dl class="review-your-answers" id="your-dob">
                    <div>
                      <dt class="question">
                        Your date of birth
                      </dt>
                      <dd class="answer">
                        5 7 1948
                      </dd>
                      <dd class="change">
                        <a href="/{{PROTOTYPE_URL}}/app/without-nhs-number/change/02-your-date-of-birth">
                          Change<span class="util-visuallyhidden"> your date of birth</span>
                        </a>
                      </dd>
                    </div>
                  </dl>

                  <dl class="review-your-answers" id="your-postcode">
                    <div>
                      <dt class="question">
                        Your postcode
                      </dt>
                      <dd class="answer">
                        485 777 3456
                      </dd>
                      <dd class="change">
                        <a href="/{{PROTOTYPE_URL}}/app/without-nhs-number/change/03-your-postcode">
                          Change<span class="util-visuallyhidden"> your postcode</span>
                        </a>
                      </dd>
                    </div>
                  </dl>
                </div>


                  <form action="javascript:onclick(window.location.href='/{{PROTOTYPE_URL}}/05X-no-unique-match')">
                    <p>
                      This information will be used to find your contact details in our database. Once a match has been found, we will send you a one-time verification code.
                    </p>
                    <p>
                      You agree to let us search for your details in our database, so that we can send you a one-time security passcode.
                    </p>


                      <input type="Submit" class="button" id="submit-details" value="Agree and submit">
                  </form>
              </div>
            </div>
      </div>
  </div>

</main>
{% endblock %}
