$gray: #425563;

.site-header__logo {

  width: 100px;
}

.main-nav__menu .list--inline li, .main-nav__menu .article-header__detail-list li, .main-nav__menu .tag-list li, .main-nav__menu .tabbed-detail .tabbed-detail__wrapper li, .tabbed-detail .main-nav__menu .tabbed-detail__wrapper li, .main-nav__menu .breadcrumb li {

  margin-left: 20px;
}

@media (max-width: 1024px){

  .main-nav__menu .list li, .main-nav__menu .checklist li, .main-nav__menu .article-header__detail-list li, .main-nav__menu .tag-list li, .main-nav__menu .tabbed-detail .tabbed-detail__wrapper li, .tabbed-detail .main-nav__menu .tabbed-detail__wrapper li, .main-nav__menu .breadcrumb li {

    margin-left: 0;

  }
}


.grid-wrapper {

  max-width: 950px;
}

.grid-wrapper--full-width {

  max-width: 100%;
}

.search-banner {

  h1 {

    color: $white;
  }
}

.beta-banner {

  background-color: #fdf2d5;
  line-height: 1.6em;
  padding: 13px 0;
  font-size: 13.5px;
}

.need-an-account {

  padding: 16px;
  color: $white;
  margin: 6em 0 0 5em;
  background-color: $blue;

  a {

    color: $white;
  }
}

.article-section {

  border-top: 0;
}

tr {

  border-top: 1px solid #d4d0d0;
}

tbody {

  border-bottom: 1px solid #d4d0d0;
}

td {

  .status {

    background-color: darken($blue, 10%);
    color: $white;
    padding: 5px;
    border: 1px solid;
  }
}

thead {

  td {

    font-family: Arial;
    font-weight: 800;
  }
}

// page page

.page-band {

  background-color: $blue;
  padding: 16px 0;
  color: white;
  margin-bottom: 32px;

  @include media(desktop){

    margin-bottom: 46px;
  }

  a {

    color: white;
    text-decoration: underline;

    &:hover {

      color: $black;
      background-color: $yellow;
    }
  }
}


.workflow {

  padding: 0 0 1em 1em;

  p {

    max-width: 510px;
  }

  ol {
    counter-reset:li;
    margin-left:0;
    padding-left:0;

    li {

      position:relative;
      list-style:none;
      padding: 32px 8px 16px 2em;
      clear: both;
      // border-top: 2px solid #425563;

      &:before {

        content: counter(li);
        counter-increment: li;
        position: absolute;
        left: -1em;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 38px;
        margin-right: 8px;
        border: 1px solid $black;
        color: $white;
        background: $blue;
        text-align: center;
        padding: 3px;
        border-radius: 50%;
        z-index: 1000;

      }

      &:after {
        content: "";
        position: absolute;
        z-index: 2;
        width: 0;
        height: 100%;
        border-left: solid 2px;
        left: 0;
        top: 15px;
      }

      &:first-child {

        &:after {

          top: 32px;

        }

      }

      &:last-child {

        &:after {

          height: 28%;

        }

      }

      &.success {

        &:before {

          background-color: $green;
          border-color: darken($green, 5%);
          color: $white;
          content: '\2713';

        }



      }
    }
  }
}

html {

  color: $black;
}

textarea {

  border-color: $blue;
  font-weight: 600;
  padding: 0.5em;

}


textarea:focus {
  outline: 0;
}

.button--small {

  max-width: 100%;
  padding: 8px 16px;
  width: auto;
}

.button--secondary {

  background-color: $gray;
  box-shadow: 0 2px 0 darken($gray, 10%);

  &:hover {

    background-color: darken($gray, 10%);
  }

  &:visited {

    background-color: inherit;
  }

}

.plus {

  font-size: 26px;
  margin-right: 6px;
}
