{% set title = 'Before you begin - Register your preference for sharing health data' %}
{% set PROTOTYPE_URL = 'M1' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Register your preference for sharing health data
    </div>
  </div>

  <div class="page-section">
      <div class="reading-width">
        <h1 class="page-title">Before you begin</h1>
          <div class="grid-row">
            <div class="column--two-thirds">
              <p>The service you are about to use is still under test and development, which means the pages you will see are not final and may change in the future.</p>

                <div class="grid-row">
                  <div class="column--one-sixth tablet">
                    <img src="/images/info_icon.png" height="70" width="auto" alt="" />
                  </div>
                  <div class="column--five-sixes tablet">
                    <p>
                      <strong>Any preferences you set here will be saved against your patient record.</strong>
                    </p>
                  </div>
                </div>
              <p>By continuing to use the service, you are acknowledging this message and agree that the preference you set here today can be saved against your patient record.</p>
              <p>
                <a role="button" class="button" href="/{{PROTOTYPE_URL}}/01-overview">Continue</a>
              </p>
            </div>
            </div>
          </div>
      </div>
  </div>

</main>
{% endblock %}
