{% set title = 'Other ways to set a preference' %}
{% set PROTOTYPE_URL = 'M1' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Register your preference for sharing health data
    </div>
  </div>

  <div class="page-section">
      <div class="reading-width">
        <h1 class="page-title">{{title}}</h1>
          <div class="grid-row">
            <div class="column--two-thirds">

              <h2 class="h3">Set a preference by phone</h2>
              <p>
                To set your preference online, you must be able to verify your identity. You can't do this if you haven't registered an email or mobile number with an NHS practice.
              </p>
              <p>
                Contact the NHS Digital Contact Centre to verify your identity and discuss your data sharing preferences. We may be able to guide you through the service or set your preference on your behalf.
              </p>
              <p>
                Call: 0300 303 5678
              </p>
              <p>
                Open: 9am to 5pm Monday to Friday (excluding bank holidays).
              </p>
              <h2 class="h3">Set a preference by print and post</h2>
              <p>
                If you are unable to use the online service for any other reason, you can request a paper print-and-post form to set your preference instead.
              </p>
              <p>
                <a>Request a print and post form (This service will be available in May 2018)</a>.
              </p>
              <h2 id="set-a-preference-on-behalf-of-another-individual" class="h3">Set a preference on behalf of another individual</h2>
              <p>
                You can also set a preference on behalf of another individual by proxy. For example, a parent may want to set a preference on behalf their child.
              </p>
              <p>
                <a>Request a preference by proxy form (This service will be available in May 2018)</a>.
              </p>

            </div>
            </div>
          </div>
      </div>

      <div class="page-section">
        <div class="reading-width">
          <div class="grid-row">
            <div class="column--three-quarters">
              {{ patterns.page_nav( "Register your preference", "/" + PROTOTYPE_URL + "/05-register-your-preference" ) }}
            </div>
          </div>
        </div>
      </div>
  </div>

</main>
{% endblock %}
