{% set title = 'Cookie Example Overview - Register your preference for sharing health data' %}
{% set content_title = "Overview" %}
{% set PROTOTYPE_URL = 'M1' %}
{% set COOKIE_TRUE = 'true' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}
{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Register your preference for sharing health data
    </div>
  </div>

  <div class="page-section">
    <h1 class="page-title">{{content_title}}</h1>

    <div class="grid-row">
      <div class="column--one-third">
        <ol>
          <li>{{content_title}}</li>
          <li>
            <a href="/{{PROTOTYPE_URL}}/02-who-uses-your-data">Who uses your data</a>
          </li>
          <li>
            <a href="/{{PROTOTYPE_URL}}/03-how-data-is-protected">How data is protected</a>
          </li>
        </ol>
      </div>
      <div class="column--one-third">
        <ol start="4">
          <li>
            <a href="/{{PROTOTYPE_URL}}/04-benefits-of-data-sharing">Benefits of data sharing</a>
          </li>
          <li>
            <a href="/{{PROTOTYPE_URL}}/05-register-your-preference">Register your preference</a>
          </li>
        </ol>
      </div>
    </div>
  </div>

  <div class="page-section">
    <div class="reading-width">
      <div class="grid-row">
        <div class="column--two-thirds">
          <p>
            Whenever you visit a health and care service, care professionals must keep records about you. These records contain identifiable health and care information, like your name or NHS number.
          </p>
          <h2 class="h3" id="using-your-data">Using your data</h2>
          <p>
            The NHS may use your identifiable health and care information in two different ways.
          </p>

          <h3 id="your-individual-care" class="h4">Your individual care</h3>
          <div class="grid-row">
            <div class="column--one-third">
              <img alt="" class="data-usage-icon" src="/images/individual_care_icon.svg" height="150" width="auto" />
            </div>
            <div class="column--two-thirds">
              <p>Health and care professionals access your identifiable health and care information when providing you with treatment or care.</p>
            </div>
          </div>

          <h3 id="research-and-planning" class="h4">Research and planning</h3>
          <div class="grid-row">
            <div class="column--one-third">
              <img alt="" class="data-usage-icon" src="/images/research_icon.svg" height="150" width="auto" />
            </div>
            <div class="column--two-thirds">
              <p>Your identifiable health and care information is also used to:</p>
              <ul>
                <li>plan essential facilities like heart units</li>
                <li>improve the health of future generations</li>
                <li>research potential cures for life-threatening diseases</li>
                <li>develop treatment for serious illnesses</li>
              </ul>
            </div>
          </div>
          <h2 class="h3" id="where-you-have-a-choice">Where you have a choice</h2>
          <p>If you don't agree with health and care professionals using your identifiable health and care information for research and planning, you can opt out of this. The decision you make will not affect your individual care.</p>
          <h2 class="h3" id="setting-a-preference">Setting your preference</h2>
          <p>
            You may use our online service, or request a print-and-post form, to set or change your preference at any time. You can also set a preference or request assistance using our telephone service. If you do not wish to opt out, you don’t have to do anything at all.
          </p>
          <p>
            You may also set a preference on behalf of another individual by proxy. For example, a parent may want to set a preference on behalf of a child under the age of 13.
          </p>
          <p>
            <a title="Register your preference" href="/{{PROTOTYPE_URL}}/05-register-your-preference" aria-label="Register your preference">Register a preference</a> or continue reading for more information.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section">
    <div class="reading-width">
      <div class="grid-row">
        <div class="column--two-thirds">
          {{ patterns.page_nav( "", "", "Who uses your data", "/" + PROTOTYPE_URL + "/02-who-uses-your-data" ) }}
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}
