{% set title = 'Different languages and formats - Find out why your NHS data matters' %}
{% set content_title = 'Different languages and formats' %}
{% set PROTOTYPE_URL = 'release' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/live.html' %}

{% block body %}
<nav class="nhsuk-c-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-o-width-container">
    <ol class="nhsuk-c-breadcrumb__list">
          <li class="nhsuk-c-breadcrumb__item">
            <a href="#" class="nhsuk-c-breadcrumb__link">Home</a>
              <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/static/nhsuk_shared/img/icon-chevron-right-grey.f562fde428e8.png" xlink:href="">
              </image></svg>
          </li>
          <li class="nhsuk-c-breadcrumb__item">
            <a href="/{{PROTOTYPE_URL}}/01-overview" class="nhsuk-c-breadcrumb__link">Find out why your data matters</a>
          </li>
    </ol>

    <p class="nhsuk-c-breadcrumb__back">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        <image class="nhsuk-icon__chevron-left nhsuk-icon__chevron-left--fallback" src="/static/nhsuk_shared/img/icon-chevron-left-blue.18f54059387e.png" xlink:href="">
      </image></svg>
      <a href="/{{PROTOTYPE_URL}}/01-overview" class="nhsuk-c-breadcrumb__backlink">Back to Find out why your data matters</a></p>
  </div>
</nav>

<div class="nhsuk-o-width-container">
  <main id="content" role="main" class="nhsuk-o-main-wrapper">

    <div class="nhsuk-page-heading">
      <h1 class="page-title__NHSUK">
            <span role="text">{{content_title}}<span class="nhsuk-page-heading__small"><span class="visually-hidden"> -</span> Find out why your data matters</span></span>
        </h1>
    </div>

    <div class="reading-width">
        <div class="grid-row">
          <div class="column--two-thirds">
            <p>
              Information about your data choice can be read in 11 different languages and opened in other formats too.
            </p>
            <h2>Other formats</h2>
            <h3>Easy read leaflet</h3>
            <div class="grid-row">
              <div class="column--one-quarter tablet">
                <a href="/downloads/isl122-18-er-patient-information_final_high-res.pdf">
                  <img alt="download a Easy Read Your information matters to the NHS leaflet" class="thumbnail--download" src="/images/easy_read_THUMBNAIL.png" height="150" width="auto" />
                </a>
              </div>
              <div class="column--two-thirds">
                <ul class="link-list">
                  <li><a href="/downloads/isl122-18-er-patient-information_final_high-res.pdf">Your information matters to the NHS (Easy read leaflet)</a></li>
                  <li>Published: 25/05/2018</li>
                  <li>Last updated: 25/05/2018</li>
                </ul>
              </div>
            </div>
            <h3>Easy read leaflet</h3>
            <div class="grid-row">
              <div class="column--one-quarter tablet">
                <a href="/downloads/isl122-18-er-patient-information_final_high-res.pdf">
                  <img alt="download a Easy Read Your information matters to the NHS leaflet" class="thumbnail--download" src="/images/easy_read_THUMBNAIL.png" height="150" width="auto" />
                </a>
              </div>
              <div class="column--two-thirds">
                <ul class="link-list">
                  <li><a href="/downloads/isl122-18-er-patient-information_final_high-res.pdf">Your information matters to the NHS (Easy read leaflet)</a></li>
                  <li>Published: 25/05/2018</li>
                  <li>Last updated: 25/05/2018</li>
                </ul>
              </div>
            </div>
            <h3>Easy read leaflet</h3>
            <div class="grid-row">
              <div class="column--one-quarter tablet">
                <a href="/downloads/isl122-18-er-patient-information_final_high-res.pdf">
                  <img alt="download a Easy Read Your information matters to the NHS leaflet" class="thumbnail--download" src="/images/easy_read_THUMBNAIL.png" height="150" width="auto" />
                </a>
              </div>
              <div class="column--two-thirds">
                <ul class="link-list">
                  <li><a href="/downloads/isl122-18-er-patient-information_final_high-res.pdf">Your information matters to the NHS (Easy read leaflet)</a></li>
                  <li>Published: 25/05/2018</li>
                  <li>Last updated: 25/05/2018</li>
                </ul>
              </div>
            </div>





            <h3>Audio version</h3>
            <a href="https://s3.eu-west-2.amazonaws.com/files.digital.nhs.uk/assets/Your+Data+Matters+-+Sign+Language+Version+AUDIO+ONLY.wav">Listen to an audio version of our patient handout</a>

            <h3>British Sign Language video</h3>
            <p>
              <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/0BwUsKDqPQ8?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </p>
            <h3>Easy read leaflet</h3>
            <p>

            </p>
            <div class="grid-row">
              <div class="column--one-quarter tablet">
                <a href="/downloads/isl122-18-er-patient-information_final_high-res.pdf">
                  <img alt="download a Easy Read Your information matters to the NHS leaflet" class="thumbnail--download" src="/images/easy_read_THUMBNAIL.png" height="150" width="auto" />
                </a>
              </div>
              <div class="column--two-thirds">
                <ul class="link-list">
                  <li><a href="/downloads/isl122-18-er-patient-information_final_high-res.pdf">Your information matters to the NHS (Easy read leaflet)</a></li>
                  <li>Published: 25/05/2018</li>
                  <li>Last updated: 25/05/2018</li>
                </ul>
              </div>
            </div>

            <h3>Large print leaflet</h3>





            <h2 id="set-a-choice-by-phone" class="h3">Set a choice by phone</h2>
            <p>
              You may contact the NHS Digital Contact Centre to verify your identity and discuss your data sharing choices. We may be able to guide you through the online service or set a choice on your behalf.
            </p>
            <p>
              Call: 0300 303 5678
            </p>
            <p>
              Open: 9am to 5pm Monday to Friday (excluding bank holidays).
            </p>
            <h2 id="set-a-choice-by-post" class="h3">Set a choice by print and post</h2>
            <p>
              If you are unable to use the online or telephone service, you can use a paper print-and-post form to set a choice instead.
            </p>
            <div class="grid-row">
              <div class="column--one-quarter tablet">
                <a href="/forms/Non-Digital Opt-Out Form v15">
                  <img alt="download set a choice by print and post form" class="thumbnail--download" src="/images/THUMBNAIL_Non-Digital Opt-Out Form V14.jpg" height="150" width="auto" />
                </a>
              </div>
              <div class="column--two-thirds">
                <ul class="link-list">
                  <li><a href="/forms/Non-Digital Opt-Out Form v15">Manage a choice by post</a></li>
                  <li>Published: 25/05/2018</li>
                  <li>Last updated: 25/05/2018</li>
                </ul>
              </div>
            </div>
            <p>
              <a href="/{{PROTOTYPE_URL}}/00-privacy-notice" target="_blank">How your data will be processed to register and apply your opt-out<span class='util-visuallyhidden'> - Page opens in new window</span></a> <span aria-hidden="true"> (opens in new window).</span>
            </p>


            <h2 id="set-a-choice-on-behalf-of-another-individual" class="h3">Set a choice on behalf of your children</h2>
            <p>
              Parents or legal guardians may also set and manage a choice on behalf of their child under the age of 13.
            </p>
            <div class="grid-row">
              <div class="column--one-quarter tablet">
                <a href="/forms/Non-Digital Parental Request Opt-Out Form v20.pdf">
                  <img alt="download set a parent or guardian manage a choice by proxy form" class="thumbnail--download" src="/images/THUMBNAIL_Non-Digital Proxy Opt-Out Form V14.jpg" height="150" width="auto" />
                </a>
              </div>
              <div class="column--two-thirds">
                <ul class="link-list">
                  <li><a href="/forms/Non-Digital Parental Request Opt-Out Form v20.pdf">Parent or guardian manage a choice by proxy form</a></li>
                  <li>Published: 25/05/2018</li>
                  <li>Last updated: 25/05/2018</li>
                </ul>
              </div>
            </div>

            <p>
              <a href="/{{PROTOTYPE_URL}}/00-privacy-notice" target="_blank">How your data will be processed to register and apply your opt-out<span class='util-visuallyhidden'> - Page opens in new window</span></a> <span aria-hidden="true"> (opens in new window).</span>
            </p>





            <h2 id="set-a-choice-on-behalf-of-another-individual" class="h3">Set a choice on behalf of another individual</h2>
            <p>
              You can set and manage a choice on behalf of another individual, who is unable to manage their choice independently. For example, if you have power of attorney.
            </p>
            <div class="grid-row">
              <div class="column--one-quarter tablet">
                <a href="Non-Digital Proxy Opt-Out Form v19.pdf">
                  <img alt="download set a choice on behalf of another individual by print and post form" class="thumbnail--download" src="/images/THUMBNAIL_Non-Digital Proxy Opt-Out Form V14.jpg" height="150" width="auto" />
                </a>
              </div>
              <div class="column--two-thirds">
                <ul class="link-list">
                  <li><a href="Non-Digital Proxy Opt-Out Form v19.pdf">Manage a choice by proxy form</a></li>
                  <li>Published: 25/05/2018</li>
                  <li>Last updated: 25/05/2018</li>
                </ul>
              </div>
            </div>


            <p>
              <a href="/{{PROTOTYPE_URL}}/00-privacy-notice" target="_blank">How your data will be processed to register and apply your opt-out<span class='util-visuallyhidden'> - Page opens in new window</span></a> <span aria-hidden="true"> (opens in new window).</span>
            </p>

          </div>
        <div class="column--one-third">

        </div>
    </div>
    </div>


    <div class="reading-width">
      <div class="grid-row">
        <div class="column--two-thirds">
          {{ patterns.page_nav( "Overview", "/" + PROTOTYPE_URL + "/01-overview" ) }}
        </div>
      </div>
    </div>

  </main>
</div>












<main id="content" role="main">
  <div class="page-section">
      <div class="reading-width">
          <div class="grid-row">
            <div class="column--two-thirds">
              <h1 class="page-title__NHSUK">{{content_title}} <small>Find out why your data matters</small></h1>

              <h2 id="#other-formats" class="h3">Other formats</h2>
              <ul class="link-list">
                <li>
                  <a>Audio version</a>
                </li>
                <li>
                  <a>British Sign Language video</a>
                </li>
                <li>
                  <a>Easy read leaflet</a>
                </li>
                <li>
                  <a>Large print leafet</a>
                </li>
              </ul>

              <h2 id="#other-languages" class="h3">Other language leaflets</h2>
              <ul class="link-list">
                <li>
                  <a>Albanian - Shqip</a>
                </li>
                <li>
                  <a>Amharic - አማርኛ</a>
                </li>
                <li>
                  <a>Arabic - العربية</a>
                </li>
                <li>
                  <a>Chinese - 中文</a>
                </li>
                <li>
                  <a>Farsi - فارسی</a>
                </li>
                <li>
                  <a>Pashto - پښتو</a>
                </li>
                <li>
                  <a>Sorani - سۆرانی</a>
                </li>
                <li>
                  <a>Tamil - தமிழ்</a>
                </li>
                <li>
                  <a>Tigrinya - ትግርኛ</a>
                </li>
                <li>
                  <a>Urdu - اردو</a>
                </li>
                <li>
                  <a>Welsh - Cymraeg</a>
                </li>
              </ul>

            </div>
            </div>
          </div>
      </div>

      <div class="page-section">
        <div class="reading-width">
          <div class="grid-row">
            <div class="column--three-quarters">
              {{ patterns.page_nav( "Overview", "/" + PROTOTYPE_URL + "/01-overview" ) }}
            </div>
          </div>
        </div>
      </div>
  </div>

</main>
{% endblock %}
