{% set title = 'Overview - Find out why your data matters' %}
{% set content_title = "Overview" %}
{% set PROTOTYPE_URL = 'release' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/live.html' %}
{% block body %}
<nav class="nhsuk-c-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-o-width-container">
    <ol class="nhsuk-c-breadcrumb__list">
          <li class="nhsuk-c-breadcrumb__item">
            <a href="/" class="nhsuk-c-breadcrumb__link">Home</a>
              <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/static/nhsuk_shared/img/icon-chevron-right-grey.f562fde428e8.png" xlink:href="">
              </image></svg>
          </li>
          <li class="nhsuk-c-breadcrumb__item">
            <a href="/your-nhs-data-matters/" class="nhsuk-c-breadcrumb__link">Find out why your data matters</a>
          </li>
    </ol>

    <p class="nhsuk-c-breadcrumb__back">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        <image class="nhsuk-icon__chevron-left nhsuk-icon__chevron-left--fallback" src="/static/nhsuk_shared/img/icon-chevron-left-blue.18f54059387e.png" xlink:href="">
      </image></svg>
      <a href="/your-nhs-data-matters/" class="nhsuk-c-breadcrumb__backlink">Back to Find out why your data matters</a></p>
  </div>
</nav>

<div class="nhsuk-o-width-container">
  <main id="content" role="main" class="nhsuk-o-main-wrapper">

    <div class="nhsuk-page-heading">
      <h1 class="page-title__NHSUK">
            <span role="text">Overview<span class="nhsuk-page-heading__small"><span class="visually-hidden"> -</span> Find out why your data matters</span></span>
        </h1>
        <nav class="nhsuk-c-page-contents" role="navigation" aria-label="Pages in this guide">
          <h2 class="visually-hidden">Contents</h2>
          <ol class="nhsuk-c-page-contents__list">
            <li class="nhsuk-c-page-contents__item"><span class="nhsuk-c-page-contents__current" aria-current="page">Overview</span></li>
            <li class="nhsuk-c-page-contents__item"><a href="/release/02-benefits-of-data-sharing">Benefits of data sharing</a></li>
            <li class="nhsuk-c-page-contents__item"><a href="/release/03-who-uses-your-data">Who uses your data</a></li>
            <li class="nhsuk-c-page-contents__item"><a href="/release/04-how-data-is-protected">How data is protected</a></li>
            <li class="nhsuk-c-page-contents__item"><a href="/release/05-manage-your-choice">Manage your choice</a></li>
          </ol>
        </nav>
    </div>

    <div class="reading-width">
      <div class="grid-row">
        <div class="column--two-thirds">
          <p>
            The NHS wants to make sure you and your family have the best care now and in the future. Your health and adult social care information supports your individual care. It also helps us to research, plan and improve health and care services in England.
          </p>
          <p>
            There are very strict rules on how this data can and cannot be used, and you have clear data rights. We are committed to keeping patient information safe and will always be clear on how it is used.
          </p>
          <p>
            You can choose whether or not your confidential patient information is used for research and planning.
          </p>
          <h2 class="h3" id="your-confidential-patient-information">Your confidential patient information</h2>
          <p>
            Confidential patient information identifies you and says something about your health, care or treatment. You would expect this information to be kept private. Information that only identifies you like your name and address is not confidential patient information and may still be used. For example, to contact you if your GP practice is merging with another.
          </p>
          <p>
            <a href="https://www.nhs.uk/NHSEngland/thenhs/records/healthrecords/Pages/overview.aspx" target="_blank">More information on health and care records ​<span class='util-visuallyhidden'> - Page opens in new window</span></a> <span aria-hidden="true"> (opens in new window)</span>.
          </p>
          <h2 class="h3" id="using-your-confidential-patient-information">Using your confidential patient information</h2>
          <p>
            Your confidential patient information is used in two different ways:
          </p>
          <h3 id="your-individual-care" class="h4">Your individual care</h3>
          <div class="grid-row">
            <div class="column--one-third">
              <img alt="" class="data-usage-icon" src="/images/icons/Your_Individual_Care_ICON.jpg" height="200" width="auto" />
            </div>
            <div class="column--two-thirds">
              <p>Health and care professionals may use your confidential patient information to help with your treatment and care.
              </p>
              <p>For example, when you visit your GP, they may access your records for important information about your health.</p>
            </div>
          </div>

          <h3 id="research-and-planning" class="h4">Research and planning</h3>
          <div class="grid-row">
            <div class="column--one-third">
              <img alt="" class="data-usage-icon" src="/images/icons/Research_and_Planning_ICON.jpg" height="200" width="auto" />
            </div>
            <div class="column--two-thirds">
              <p>Confidential patient information is also used to:</p>
              <ul>
                <li>
                  plan and improve health and care services
                </li>
                <li>
                  research and develop cures for serious illnesses
                </li>
              </ul>
            </div>
          </div>
          <p>
            Most of the time, we use anonymised data for research and planning. So your confidential patient information isn’t always needed.
          </p>

          <h2 class="h3" id="where-you-have-a-choice">Where you have a choice</h2>
          <p>If you don’t want your confidential patient information to be used for research and planning, you can opt out of this. If you do opt out, there are some specific situations where your data may still be used. Data that does not identify you may still also be used.</p>
          <p>Your confidential patient information will still be used to support your individual care. Any preference you set using this service will not change this.</p>
          <p>
            If you opt out, your decision will only apply within the health and care system in England. Your opt-out will not apply to your health data where you have accessed health or care services outside of England, such as in Scotland and Wales.
          </p>
          <h2 class="h3" id="manage-your-choice">Manage your choice</h2>
          <p>
            You may use our online service, or request a print-and-post form, to make or change your choice at any time. You can also request assistance or make your choice using our telephone service. If you do not wish to opt out, you don’t have to do anything at all.
          </p>
          <p>
            You can also manage a choice on behalf of another individual by proxy. For example, if you are a parent or guardian of a child under the age of 13.
          </p>
          <p>
            <a href="/{{PROTOTYPE_URL}}/05-manage-your-choice">Manage your choice</a> or continue reading for more information.
          </p>
        </div>
      </div>
    </div>


    <div class="reading-width">
      <div class="grid-row">
        <div class="column--two-thirds">
          {{ patterns.page_nav( "", "", "Benefits of data sharing", "/" + PROTOTYPE_URL + "/02-benefits-of-data-sharing" ) }}
        </div>
      </div>
    </div>

  </main>
</div>




{% endblock %}
