{% set title = 'Where your choice does not apply - Choose if your health records can be used for research and planning' %}
{% set PROTOTYPE_URL = 'release-sept' %}
{% set content_title = "Where your choice does not apply" %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/live.html' %}

{% block body %}

<nav class="nhsuk-c-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-o-width-container">
    <ol class="nhsuk-c-breadcrumb__list">
          <li class="nhsuk-c-breadcrumb__item">
            <a href="#" class="nhsuk-c-breadcrumb__link">Home</a>
              <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/static/nhsuk_shared/img/icon-chevron-right-grey.f562fde428e8.png" xlink:href="">
              </image></svg>
          </li>
          <li class="nhsuk-c-breadcrumb__item">
            <a href="/{{PROTOTYPE_URL}}/01-overview" class="nhsuk-c-breadcrumb__link">Choose if your health records can be used for research and planning</a>
          </li>
    </ol>

    <p class="nhsuk-c-breadcrumb__back">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        <image class="nhsuk-icon__chevron-left nhsuk-icon__chevron-left--fallback" src="/static/nhsuk_shared/img/icon-chevron-left-blue.18f54059387e.png" xlink:href="">
      </image></svg>
      <a href="/{{PROTOTYPE_URL}}/01-overview" class="nhsuk-c-breadcrumb__backlink">Back to Choose if your health records can be used for research and planning</a></p>
  </div>
</nav>


<div class="nhsuk-o-width-container">
  <main id="content" role="main" class="nhsuk-o-main-wrapper">

    <div class="nhsuk-page-heading">
      <h1 class="page-title__NHSUK">
            <span role="text">{{content_title}}<span class="nhsuk-page-heading__small"><span class="visually-hidden"> -</span> Choose if your health records can be used for research and planning</span></span>
        </h1>
        <nav class="nhsuk-c-page-contents" role="navigation" aria-label="Pages in this guide">
          <h2 class="visually-hidden">Contents</h2>
          <ol class="nhsuk-c-page-contents__list">
            <li class="nhsuk-c-page-contents__item"><a href="/{{PROTOTYPE_URL}}/01-overview">Overview</a></li>
            <li class="nhsuk-c-page-contents__item"><a href="/{{PROTOTYPE_URL}}/03-how-your-data-is-used">Where confidential patient information is used</a></li>
            <li class="nhsuk-c-page-contents__item"><span class="nhsuk-c-page-contents__current" aria-current="page">{{content_title}}</span></li>

            <li class="nhsuk-c-page-contents__item"><a href="/{{PROTOTYPE_URL}}/04-manage-your-choice">How to make your choice</a></li>
          </ol>
        </nav>
    </div>

    <div class="reading-width">
        <div class="grid-row">
          <div class="column--two-thirds">
            <h2 id="research">Research</h2>
            <p>planning, your data may still be used in some situations.</p>
            <h3>Required by law</h3>
            <p>Your information may still be used when there is a legal requirement to provide it, such as an order of court.</p>
            <h3>Consent has been provided</h3>
            <p>Your choice will not apply where you have asked for your data to be used for a specific reason. For example, if you have asked for your information to be used in a specific medical research study.</p>
        </div>
        <div class="column--one-third">

        </div>
    </div>
    </div>


    <div class="reading-width">
      <div class="grid-row">
        <div class="column--two-thirds">
          {{ patterns.page_nav( "Overview", "/" + PROTOTYPE_URL + "/01-overview", "How your data is used", "/" + PROTOTYPE_URL + "/03-how-your-data-is-used" ) }}
        </div>
      </div>
    </div>

  </main>
</div>


{% endblock %}
