{% set title = 'Unable to manage your choice online - Find out about my data choice' %}
{% set content_title = 'Unable to manage your choice online' %}
{% set PROTOTYPE_URL = 'M5' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Find out about my data choice
    </div>
  </div>

  <div class="page-section">
      <div class="reading-width">
        <h1 class="page-title">{{content_title}}</h1>
          <div class="grid-row">
            <div class="column--two-thirds">
              <p>Sorry, you must be aged 13 or over to manage your choice online.</p>

              <p>A parent or guardian can manage a choice on your behalf, using the non-digital service.</p>
              <p>Please see <a href="/{{PROTOTYPE_URL}}/00-other-ways-to-manage-your-choice">other ways to manage your choice</a>.</p>
            </div>
            </div>
          </div>
      </div>
  </div>

</main>
{% endblock %}
