{% set title = 'Additional resources - Find out why your data matters' %}
{% set content_title = 'Additional resources' %}
{% set PROTOTYPE_URL = 'future' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/choices.html' %}

{% block body %}
<div class="breadcrumb" aria-label="breadcrumb">
  <ol>
    <li><a href="#">Home</a></li>
    <li><a href="/{{PROTOTYPE_URL}}/01-overview">Find out why your data matters</a></li>
    <li class="breadcrumb__last">{{content_title}}</li>
  </ol>
</div>

<main id="content" role="main">
  <div class="page-section">
      <div class="reading-width">
          <div class="grid-row">
            <div class="column--two-thirds">
              <h1 class="page-title__NHSUK">{{content_title}} <small>Find out why your data matters</small></h1>
              <p>
                Leaflets and accessible information to help you manage your data choice.
              </p>
              <h2 id="" class="h3">Information leaflets</h2>
              <div class="grid-row">
                <div class="column--one-quarter tablet">
                  <a href="#">
                    <img alt="" class="thumbnail--download" src="/images/proxy_form_thumbnail.png" height="150" width="auto" />
                  </a>
                </div>
                <div class="column--two-thirds">
                  <ul class="link-list">
                    <li><a href="#">Easy Read Format - manage your data choice</a></li>
                    <li>Published: 25/05/2018</li>
                    <li>Last updated: 25/05/2018</li>
                  </ul>
                </div>
              </div>

              <div class="grid-row">
                <div class="column--one-quarter tablet">
                  <a href="#">
                    <img alt="" class="thumbnail--download" src="/images/proxy_form_thumbnail.png" height="150" width="auto" />
                  </a>
                </div>
                <div class="column--two-thirds">
                  <ul class="link-list">
                    <li><a href="#">Large print - manage your data choice</a></li>
                    <li>Published: 25/05/2018</li>
                    <li>Last updated: 25/05/2018</li>
                  </ul>
                </div>
              </div>

              <h2 id="" class="h3">Alternative language leaflets</h2>
              <div class="grid-row">
                <div class="column--one-quarter tablet">
                  <a href="#">
                    <img alt="" class="thumbnail--download" src="/images/proxy_form_thumbnail.png" height="150" width="auto" />
                  </a>
                </div>
                <div class="column--two-thirds">
                  <ul class="link-list">
                    <li><a href="#">French - manage your data choice</a></li>
                    <li>Published: 25/05/2018</li>
                    <li>Last updated: 25/05/2018</li>
                  </ul>
                </div>
              </div>

              <div class="grid-row">
                <div class="column--one-quarter tablet">
                  <a href="#">
                    <img alt="" class="thumbnail--download" src="/images/proxy_form_thumbnail.png" height="150" width="auto" />
                  </a>
                </div>
                <div class="column--two-thirds">
                  <ul class="link-list">
                    <li><a href="#">Chinese - manage your data choice</a></li>
                    <li>Published: 25/05/2018</li>
                    <li>Last updated: 25/05/2018</li>
                  </ul>
                </div>
              </div>

            </div>
            </div>
          </div>
      </div>

      <div class="page-section">
        <div class="reading-width">
          <div class="grid-row">
            <div class="column--three-quarters">
              {{ patterns.page_nav( "Find out why your data matters", "/" + PROTOTYPE_URL + "/01-overview" ) }}
            </div>
          </div>
        </div>
      </div>
  </div>

</main>
{% endblock %}
