{% set title = 'Downloads - Choose if your health records can be used for research and planning' %}
{% set content_title = 'Additional resources' %}
{% set PROTOTYPE_URL = 'release-dec' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/choices.html' %}

{% block body %}
<div class="breadcrumb" aria-label="breadcrumb">
  <ol>
    <li><a href="#">Home</a></li>
    <li><a href="/{{PROTOTYPE_URL}}/01-overview">Choose if your health records can be used for research and planning</a></li>
    <li class="breadcrumb__last">{{content_title}}</li>
  </ol>
</div>

<main id="content" role="main">
  <div class="page-section">
      <div class="reading-width">
          <div class="grid-row">
            <div class="column--two-thirds">
              <h1 class="page-title__NHSUK">{{content_title}} <small>Choose if your health records can be used for research and planning</small></h1>
              <h2 id="accessible-forms" class="h3">Accessible forms</h2>
              <h3 id="easy-read-format" class="h4">Easy read format</h3>
              <div class="grid-row">
                <div class="column--one-quarter tablet">
                  <a href="#">
                    <img alt="" class="thumbnail--download" src="/images/proxy_form_thumbnail.png" height="150" width="auto" />
                  </a>
                </div>
                <div class="column--two-thirds">
                  <ul class="link-list">
                    <li><a href="#">Easy read format</a></li>
                    <li>Published: 25/05/2018</li>
                    <li>Last updated: 25/05/2018</li>
                    <li>Service: <a href="/{{PROTOTYPE_URL}}/01-overview">Choose if your health records can be used for research and planning</a></li>
                  </ul>
                </div>
              </div>
              <h3 id="large-print-format" class="h4">Large print format</h3>
              <div class="grid-row">
                <div class="column--one-quarter tablet">
                  <a href="#">
                    <img alt="" class="thumbnail--download" src="/images/proxy_form_thumbnail.png" height="150" width="auto" />
                  </a>
                </div>
                <div class="column--two-thirds">
                  <ul class="link-list">
                    <li><a href="#">Large print format</a></li>
                    <li>Published: 25/05/2018</li>
                    <li>Last updated: 25/05/2018</li>
                    <li>Service: <a href="/{{PROTOTYPE_URL}}/01-overview">Choose if your health records can be used for research and planning</a></li>
                  </ul>
                </div>
              </div>
              <h2 id="languages" class="h3">Languages</h2>
              <h3 id="x11-form" class="h4">X11 Language form</h3>
              <div class="grid-row">
                <div class="column--one-quarter tablet">
                  <a href="#">
                    <img alt="" class="thumbnail--download" src="/images/proxy_form_thumbnail.png" height="150" width="auto" />
                  </a>
                </div>
                <div class="column--two-thirds">
                  <ul class="link-list">
                    <li><a href="#">X11 Languages</a></li>
                    <li>Published: 25/05/2018</li>
                    <li>Last updated: 25/05/2018</li>
                    <li>Service: <a href="/{{PROTOTYPE_URL}}/01-overview">Choose if your health records can be used for research and planning</a></li>
                  </ul>
                </div>
              </div>
              <h2 id="tailored-resources" class="h3">Tailored resources</h2>
              <h3 id="bme" class="h4">BME guidance</h3>
              <div class="grid-row">
                <div class="column--one-quarter tablet">
                  <a href="#">
                    <img alt="" class="thumbnail--download" src="/images/proxy_form_thumbnail.png" height="150" width="auto" />
                  </a>
                </div>
                <div class="column--two-thirds">
                  <ul class="link-list">
                    <li><a href="#">BME guidance</a></li>
                    <li>Published: 25/05/2018</li>
                    <li>Last updated: 25/05/2018</li>
                    <li>Service: <a href="/{{PROTOTYPE_URL}}/01-overview">Choose if your health records can be used for research and planning</a></li>
                  </ul>
                </div>
              </div>
              <h3 id="young-people" class="h4">Young peoples guidance</h3>
              <div class="grid-row">
                <div class="column--one-quarter tablet">
                  <a href="#">
                    <img alt="" class="thumbnail--download" src="/images/proxy_form_thumbnail.png" height="150" width="auto" />
                  </a>
                </div>
                <div class="column--two-thirds">
                  <ul class="link-list">
                    <li><a href="#">Young peoples guidance</a></li>
                    <li>Published: 25/05/2018</li>
                    <li>Last updated: 25/05/2018</li>
                    <li>Service: <a href="/{{PROTOTYPE_URL}}/01-overview">Choose if your health records can be used for research and planning</a></li>
                  </ul>
                </div>
              </div>
              <h3 id="gypsy-roma-travller" class="h4">Gypsy, Roma and Traveller communities guidance</h3>
              <div class="grid-row">
                <div class="column--one-quarter tablet">
                  <a href="#">
                    <img alt="" class="thumbnail--download" src="/images/proxy_form_thumbnail.png" height="150" width="auto" />
                  </a>
                </div>
                <div class="column--two-thirds">
                  <ul class="link-list">
                    <li><a href="#">Gypsy, Roma and Traveller communities guidance</a></li>
                    <li>Published: 25/05/2018</li>
                    <li>Last updated: 25/05/2018</li>
                    <li>Service: <a href="/{{PROTOTYPE_URL}}/01-overview">Choose if your health records can be used for research and planning</a></li>
                  </ul>
                </div>
              </div>
              <h3 id="infographic" class="h4">Infographic</h3>
              <div class="grid-row">
                <div class="column--one-quarter tablet">
                  <a href="#">
                    <img alt="" class="thumbnail--download" src="/images/proxy_form_thumbnail.png" height="150" width="auto" />
                  </a>
                </div>
                <div class="column--two-thirds">
                  <ul class="link-list">
                    <li><a href="#">Infographic</a></li>
                    <li>Published: 25/05/2018</li>
                    <li>Last updated: 25/05/2018</li>
                    <li>Service: <a href="/{{PROTOTYPE_URL}}/01-overview">Choose if your health records can be used for research and planning</a></li>
                  </ul>
                </div>
            </div>
            </div>
          </div>
      </div>

      <div class="page-section">
        <div class="reading-width">
          <div class="grid-row">
            <div class="column--three-quarters">
              {{ patterns.page_nav( "Choose if your health records can be used for research and planning", "/" + PROTOTYPE_URL + "/01-overview" ) }}
            </div>
          </div>
        </div>
      </div>
  </div>

</main>
{% endblock %}
