{% set title = 'Overview - Manage your data choice' %}
{% set content_title = "Overview" %}
{% set PROTOTYPE_URL = 'nhsonline' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/app.html' %}
{% block body %}


<div class="nhsuk-o-width-container">
  <main id="content" role="main" class="nhsuk-o-main-wrapper">

    <div class="nhsuk-page-heading">
      <h1 class="page-title__NHSUK">
            <span role="text">Overview<span class="nhsuk-page-heading__small"><span class="visually-hidden"> -</span> Manage your data choice</span></span>
        </h1>
        <nav class="nhsuk-c-page-contents" role="navigation" aria-label="Pages in this guide">
          <h2 class="visually-hidden">Contents</h2>
          <ol class="nhsuk-c-page-contents__list">
            <li class="nhsuk-c-page-contents__item"><span class="nhsuk-c-page-contents__current" aria-current="page">Overview</span></li>
            <li class="nhsuk-c-page-contents__item"><a href="/{{PROTOTYPE_URL}}/02-benefits-of-data-sharing">Benefits of data sharing</a></li>
            <li class="nhsuk-c-page-contents__item"><a href="/{{PROTOTYPE_URL}}/03-how-your-data-is-used">How your data is used</a></li>
            <li class="nhsuk-c-page-contents__item"><a href="/{{PROTOTYPE_URL}}/04-where-opt-outs-dont-apply">Where an opt-out doesn't apply</a></li>
            <li class="nhsuk-c-page-contents__item"><a href="/{{PROTOTYPE_URL}}/05-manage-your-choice">Manage your choice</a></li>
          </ol>
        </nav>
    </div>

    <div class="reading-width">
      <div class="grid-row">
        <div class="column--two-thirds">
          <p>
            This service allows you to choose whether or not your confidential patient information is used for research and planning. You can make or change your decision at any time. Unless you have chosen to opt out, your confidential patient information can and may be used for research and planning.
          </p>
          <h2 class="h3" id="your-confidential-patient-information">Confidential patient information</h2>
          <p>
            Confidential patient information identifies you and says something about your health care or treatment. Information that only identifies you like your name and address is not confidential patient information.
          </p>
          <p>
            Health and care professionals may use your confidential patient information to help with your treatment and care. This information is also used to research cures for serious illnesses and to improve health and care services.
          </p>
          <h2 class="h3" id="your-choice">Your choice</h2>
          <p>
            If you don’t want your confidential patient information to be used for research and planning, you can opt out of this. Your confidential patient information will still be used to support your individual care as any choice you set will not change this. If you do not wish to opt out, you don’t have to do anything at all.
          </p>
          <p>
            <a href="/{{PROTOTYPE_URL}}/05-manage-your-choice">Manage your choice</a>
          </p>

          <h3>More options</h3>
          <p>
            Visit the <a href="https://www.nhs.uk/your-nhs-data-matters/" target="_blank">NHS website</a> for more information or to find out how to manage a choice on behalf of another person.
          </p>
        </div>
      </div>
    </div>


    <div class="reading-width">
      <div class="grid-row">
        <div class="column--two-thirds">
          {{ patterns.page_nav( "", "", "Benefits of data sharing", "/" + PROTOTYPE_URL + "/02-benefits-of-data-sharing" ) }}
        </div>
      </div>
    </div>

  </main>
</div>

{% endblock %}
