{% set title = 'Enable cookies to continue - Register your preference for sharing health data' %}
{% set PROTOTYPE_URL = 'M1' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Register your preference for sharing health data
    </div>
  </div>

  <div class="page-section">
      <div class="reading-width">
        <h1 class="page-title">Enable cookies to continue</h1>
          <div class="grid-row">
            <div class="column--two-thirds">
              <p>The 'Register Your Choice for Using Patient Health Information' service puts small files (known as ‘cookies’) onto your computer to keep your visit secure.</p>
              <p>
                We also use cookies to collect information about how you browse the site. You can opt-out of these cookies.
              </p>
              <p>
                To be able to use this service, you need to enable cookies.
              </p>
              <p>Find out more about <a target="_blank" href="https://www.aboutcookies.org/">how to manage cookies<span class="util-visuallyhidden"> - Page opens in new window</span></a> <span aria-hidden="true"> (opens in new window)</span>.</p>
              <p>
                <a role="button" class="button" href="/{{PROTOTYPE_URL}}/01-overview">Continue</a>
              </p>
            </div>
            </div>
          </div>
      </div>
  </div>

</main>
{% endblock %}
