{% set title = 'Who uses your data - Register your preference for sharing health data' %}
{% set content_title = "Who uses your data" %}
{% set PROTOTYPE_URL = 'M1' %}
{% block scripts %} {% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Register your preference for sharing health data
    </div>
  </div>

  <div class="page-section">
    <h1 class="page-title">{{content_title}}</h1>

    <div class="grid-row">
      <div class="column--one-third">
        <ol>
          <li>
            <a href="/{{PROTOTYPE_URL}}/01-overview">Overview</a>
          </li>
          <li>{{content_title}}</li>
          <li>
            <a href="/{{PROTOTYPE_URL}}/03-how-data-is-protected">How data is protected</a>
          </li>
        </ol>
      </div>
      <div class="column--one-third">
        <ol start="4">
          <li>
            <a href="/{{PROTOTYPE_URL}}/04-benefits-of-data-sharing">Benefits of data sharing</a>
          </li>
          <li>
            <a href="/{{PROTOTYPE_URL}}/05-register-your-preference">Register your preference</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="page-section">
    <div class="reading-width">
      <div class="grid-row">
        <div class="column--two-thirds">
          <h2 id="who-can-use-your-data" class="h3">Who can use your data</h2>
          <p>
            The NHS collects health and care data from all NHS trusts and local authorities. Data is also collected from private organisations, such as private hospitals providing NHS funded care. Research bodies and organisations can request access to this data.
          </p>
          <p>
            Research bodies and organisations include:
          </p>
          <ul>
            <li>
              university researchers
            </li>
            <li>
              hospital researchers
            </li>
            <li>
              royal colleges
            </li>
            <li>
              analytical companies working to improve NHS services
            </li>
          </ul>
          <h2 id="who-cant-use-your-data" class="h3">Who can't use your data</h2>
          <p>
            Confidential patient information is used to support the delivery of health and social care services.
          </p>
          <p>
            Access to confidential patient information will <strong>not</strong> be given to:
          </p>
          <ul>
            <li>
              marketing companies
            </li>
            <li>
              insurance companies
            </li>
          </ul>
          <p>(unless you specifically request this)</p>
          <h2 id="how-your-data-is-used" class="h3">How your data is used</h2>
          <p>You can access the Data Release Register to find out how your data has been used by NHS Digital, for purposes beyond your individual care.</p>
          <p><a target="_blank" rel="noopener noreferrer" href="https://digital.nhs.uk/data-access-request-service/register-of-approved-data-releases">NHS Digital Data Release Register<span class="util-visuallyhidden"> - Page opens in new window</span></a> <span aria-hidden="true"> (opens in new window)</span>.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section">
    <div class="reading-width">
      <div class="grid-row">
        <div class="column--two-thirds">
          {{ patterns.page_nav( "Overview", "/" + PROTOTYPE_URL + "/01-overview", "How data is protected", "/" + PROTOTYPE_URL + "/03-how-data-is-protected" ) }}
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
